.header-21 {
	.header-wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		height: 100%;
	}

	.header-left {
		display: flex;
		align-items: stretch;
		margin-right: 37px;
		border-right: 1px solid #eee;
		padding: 0 50px;

		> div {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.mini-cart__button {
		margin-left: 10px;
	}

	.header-info {
		display: flex;
		align-items: center;
		padding: 10px 30px;
		margin-right: 20px;
	}

	.info-wrap {
		display: flex;
		align-items: center;
	}

	.info-icon {
		font-size: 48px;
		color: $color__primary;
		flex-shrink: 0;
		margin-right: 20px;
	}

	.info-text {
		font-size: 14px;
		line-height: 1;
		margin-bottom: 5px;
	}

	.info-sub-text {
		font-size: 24px;
		font-weight: 700;
	}

	.header-right {
		position: relative;
		flex-shrink: 0;
		display: flex;
		align-items: stretch;

		.popup-search-wrap,
		.mini-cart,
		.page-open-mobile-menu {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 80px;
			border-left: 1px solid #eee;
		}
	}

	.page-navigation {
		flex-grow: 1;
		display: flex;
		align-items: center;
	}

	.container-fluid {
		padding: 0;
	}

	.desktop-menu & {
		.menu--primary {
			position: static;
			text-align: left;
		}
	}

	.header-button {
		.tm-button {
			height: 80px;
			line-height: 80px;
			border: 0;
			border-radius: 0;
			font-size: 15px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.62px;

			span {
				font-size: 16px;
				margin-left: 10px;
			}
		}
	}

	&.headroom--not-top {
		.header-button {
			.tm-button {
				height: 80px;
				line-height: 80px;
				font-size: 14px;
			}
		}
	}

	.header-right {
		justify-self: flex-end;
		margin: 0;

		> div {
			padding: 0;
		}
	}

	.mobile-menu & {
		.header-left {
			min-height: 70px;
		}

		.header-right {
			flex-grow: 1;
			justify-content: flex-end;
		}
	}

	.mini-cart {
		.widget_shopping_cart_content {
			left: 0;
			right: auto;
		}
	}
}

@media (min-width: 1400px) {
	.header-21 {
		.header-button {
			.tm-button {
				min-width: 220px;
			}
		}
	}
}

@media (max-width: 1600px) {
	.header-21 {
		.header-info {
			display: none;
		}
	}
}

@include media-breakpoint-down(sm) {
	.header-21 {
		.header-wrap {
			flex-wrap: nowrap;
		}

		.header-left {
			margin-right: 0;
			padding: 0 15px;
			max-width: 180px;
		}

		.header-right {
			.popup-search-wrap,
			.mini-cart,
			.page-open-mobile-menu {
				width: 70px;
			}
		}
	}

}
