@-webkit-keyframes headerSlideDown {
	0% {
		margin-top: -100px;
	}
	100% {
		margin-top: 0;
	}
}

@-webkit-keyframes headerSlideDown {
	0% {
		margin-top: -100px;
	}
	100% {
		margin-top: 0;
	}
}

.page-header {
	position: relative;
	z-index: 4;

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}
}

.page-header-inner {
	border-bottom: 1px solid transparent;
}

.header-layout-fixed {
	.page-header-inner {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 9999;
		width: 100%;
	}
}

.tm-button.header-sticky-button {
	display: none;
}

.headroom--not-top {
	.header-on-top-button {
		display: none;
	}

	.header-sticky-button {
		display: block;
	}

	.page-header-inner {
		border: 0;
	}

	&.sticky-dark-logo-version {
		&.light-logo-version {
			.light-logo {
				display: none;
			}
		}

		.dark-logo {
			display: block;
		}
	}

	&.sticky-light-logo-version {
		&.dark-logo-version {
			.dark-logo {
				display: none;
			}
		}

		.light-logo {
			display: block;
		}
	}
}

.header-sticky-both {
	.headroom.headroom--not-top {
		position: relative;
		z-index: 9999;

		.page-header-inner {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 9999;
			width: 100%;
			box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
			animation: headerSlideDown 0.95s ease forwards;

			.container,
			.container-fluid,
			.row {
				height: 100%;
			}

			.row {
				> div {
					align-self: center;
				}
			}
		}
	}
}

.header-sticky-up {
	.headroom.headroom--not-top.headroom--pinned {
		position: relative;
		z-index: 9999;

		.page-header-inner {
			position: fixed;
			left: 0;
			z-index: 9999;
			width: 100%;
			box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
			animation: headerSlideDown .95s ease forwards;

			.container,
			.container-fluid,
			.row {
				height: 100%;
			}

			.row {
				> div {
					align-self: center;
				}
			}
		}
	}
}

.header-sticky-down {
	.headroom.headroom--not-top.headroom--unpinned {
		position: relative;
		z-index: 9999;

		.page-header-inner {
			position: fixed;
			left: 0;
			z-index: 9999;
			width: 100%;
			box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
			animation: headerSlideDown .95s ease forwards;

			.container,
			.container-fluid,
			.row {
				height: 100%;
			}

			.row {
				> div {
					align-self: center;
				}
			}
		}
	}
}

.branding {
	line-height: 0;
}

.branding__logo {
	@extend %clearfix;

	a {
		display: inline-block;
		float: left;
	}
}

.dark-logo,
.light-logo {
	display: none;
}

.light-logo-version {
	.light-logo {
		display: block;
	}
}

.dark-logo-version {
	.dark-logo {
		display: block;
	}
}

.header-right {
	display: flex;
	margin: 0 -12px;
	align-items: center;
	flex-shrink: 0;

	> div {
		padding: 0 12px;
	}
}

.popup-search-wrap {
	text-align: center;

	i {
		@extend %transit2;
	}
}

.header-search-form-wrap {
	.search-form {
		position: relative;
	}

	.search-field {
		padding-right: 50px;
		border-color: #f8f8f8;
	}

	.search-submit {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 24px;
		background: none;
		width: 48px;
		height: 48px;
		padding: 0;
		border: 0;
	}

	.search-btn-text {
		display: none;
	}
}

.btn-open-popup-search {
	display: block;
	line-height: 0;
	font-size: 20px;
}

.header-social-networks {

	.inner {
		margin-left: -10px;
		margin-right: -10px;
	}

	a {
		padding: 0 10px;
		font-size: 16px;
	}
}

.header-link-list {
	margin: 0;
	padding: 0;

	.link-item {
		display: inline-block;
		line-height: 1;
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}

		a {
			line-height: 1;
		}
	}

	.info-icon {
		font-size: 18px;
		margin-right: 6px;
		vertical-align: middle;
	}

	.info-text {
		vertical-align: middle;
	}
}

.page-open-main-menu {
	display: none;
	height: 30px;
	align-items: center;

	.desktop-menu & {
		display: flex;
	}

	&:hover {
		i {
			&:before,
			&:after {
				width: 70%;
			}
		}
	}

	div {
		position: relative;
		width: 24px;
		height: 18px;
		cursor: pointer;
	}

	i {
		@extend %transit2;
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -1px;
		width: 100%;
		height: 2px;
		background: currentColor;

		&:before,
		&:after {
			position: absolute;
			left: 50%;
			width: 100%;
			height: 100%;
			background: inherit;
			content: '';
			transition: width .3s cubic-bezier(.645, .045, .355, 1);
			transform: translate(-50%, 0);
		}

		&:before {
			top: -8px;
		}

		&:after {
			top: 8px;
		}
	}
}

.page-open-main-menu-title {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.3px;
}

.switcher-language-wrapper {
	/**
	 * Language switcher by WPML
	 */
	&.wpml {
		.wpml-ls,
		.wpml-ls > ul,
		.wpml-ls > ul > li {
			height: 100%;
		}

		.wpml-ls > ul > li {
			display: flex;
			align-items: center;
			cursor: pointer;
		}

		.wpml-ls-legacy-dropdown {
			.wpml-ls-flag {
				width: 35px;
				height: auto;
				vertical-align: middle;
			}
		}

		.wpml-ls {
			width: auto;

			> ul {
				position: relative;
				padding: 0;
				margin: 0 !important;
				list-style-type: none;
			}

			.wpml-ls-slot-shortcode_actions {
				&:hover {
					.wpml-ls-sub-menu {
						visibility: visible !important;
						opacity: 1;
						transform: translateY(0);
					}
				}
			}

			.wpml-ls-item-toggle {
				position: relative;
				background: none !important;
				border: 0;
				line-height: 1;
				padding: 10px;

				span {
					font-size: 16px;
				}

				&:after {
					font-family: Ionicons;
					content: '\f123';
					font-size: 8px;
					border: 0;
					position: absolute;
					top: 50%;
					right: 0;
					transform: translate(0, -50%);
				}
			}

			.wpml-ls-native {
				position: relative;
				top: 1px;
				vertical-align: middle;
				margin-right: 5px;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 14px;
			}

			.wpml-ls-flag {
				+ span {
					margin-left: 15px;
				}
			}

			.wpml-ls-sub-menu {
				@extend %transit;
				min-width: 200px;
				border: 0;
				opacity: 0;
				visibility: hidden;
				position: absolute;
				top: 100%;
				right: 0;
				left: 0;
				padding: 0;
				margin: 0;
				list-style-type: none;
				z-index: 102;
				box-shadow: 0 0 37px rgba(0, 0, 0, .07);
				transform: translateY(20px);

				&.hover-back {
					right: 0;
					left: auto;
				}

				li {
					list-style-type: none;
					padding: 0;
					margin: 0;
				}

				a {
					display: block;
					text-decoration: none;
					padding: 10px;
					border: 0;
					background: #fff;
					color: #222;
					line-height: 1;
					text-transform: uppercase;

					&:hover {
						background: #eee;
						color: #222;
					}

					img {
						width: 24px;
						height: auto;
					}
				}
			}
		}
	}

	/**
	 * Language switcher by Polylang
	 */
	&.polylang {
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}

		.language-switcher-menu {
			.lang-item {
				position: relative;

				&.current-lang {
					> .lang-item-link {
						padding: 10px 0;
					}
				}

				&.menu-item-has-children {
					&:hover {
						.sub-menu {
							opacity: 1;
							visibility: visible;
							transform: translateY(0);
						}
					}
				}
			}

			.lang-item-link {
				display: flex;
				align-items: center;
				line-height: 1;
			}

			.lang-item-name {
				margin-left: 7px;
			}

			.sub-menu {
				@extend %transit;
				min-width: 150px;
				border: 0;
				background-color: #fff;
				opacity: 0;
				visibility: hidden;
				position: absolute;
				top: 100%;
				right: 0;
				left: 0;
				padding: 0;
				margin: 0;
				list-style-type: none;
				z-index: 102;
				box-shadow: 0 0 37px rgba(0, 0, 0, .07);
				transform: translateY(20px);

				.lang-item-link {
					padding: 10px 15px;

					&:hover {
						background-color: #eee;
					}
				}
			}
		}
	}
}

.header-button {
	line-height: 0;
}

@include media-breakpoint-down(sm) {
	.header-button {
		display: none;
	}
}

.header-text-info {
	display: flex;
	align-items: center;

	.info-icon {
		font-size: 37px;
		color: #ababab;
		flex-shrink: 0;
		margin-right: 13px;
	}

	.info-text {
		font-size: 14px;
		margin-bottom: 5px;
	}

	.info-sub-text {
		font-size: 24px;
		font-weight: 500;
	}
}

