.header-22 {
	.header-wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 26px 0;
	}

	.header-right {
		flex-shrink: 0;
	}

	.branding {
		flex-grow: 1;
	}

	.branding__logo {
		display: inline-block;
	}

	.header-right {
		justify-self: flex-end;
	}

	.header-below {
		border-top: 1px solid #eee;
	}

	.header-below-inner {
		position: relative;
		display: flex;
	}

	.desktop-menu & {
		.menu--primary {
			position: static;
			text-align: left;
		}
	}

	.header-below-left {
		flex-grow: 1;
	}

	.header-below-right {
		flex-shrink: 0;
		display: flex;
		align-items: center;

		> div {
			padding: 0 10px;
		}
	}

	.mobile-menu & {
		.branding {
			flex-grow: 1;
		}

		.header-wrap {
			padding: 10px 0;
		}

		.header-below {
			display: none;
		}
	}

	.header-info {
		width: 800px;
		@include media-breakpoint-up(xl) {
			.swiper-slide {
				justify-content: flex-end;
			}
		}

		.info-item {
			display: flex;
		}

		.info-icon {
			flex-shrink: 0;
			font-size: 38px;
			padding-right: 15px;
			line-height: 1;
		}

		.info-content {
			flex-grow: 1;
		}

		.info-title {
			font-size: 15px;
			font-weight: 500;
			line-height: 1.18;
			margin-bottom: 6px;
		}

		.info-sub-title {
			font-size: 14px;
		}
	}

	.desktop-menu & {
		.menu__container {
			border-left: 1px solid #eee;

			> li {
				border-right: 1px solid #eee;

				> a {
					padding-left: 22px !important;
					padding-right: 22px !important;

					&:after {
						@extend %transit;
						content: '';
						position: absolute;
						right: 0;
						top: 0;
						width: 0;
						height: 3px;
					}
				}

				&:hover {
					> a {
						&:after {
							width: 100%;
							left: 0;
							right: auto;
						}
					}
				}
			}
		}
	}

	&.headroom--not-top {
		.header-above {
			display: none;
		}
	}
}

@include media-breakpoint-down(lg) {
	.header-22 {
		.header-info {
			width: 560px;
		}

		&.headroom--not-top {
			.header-above {
				display: block;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.header-22 {
		.header-info {
			width: 280px;
		}

		.header-above, .header-below {
			.container {
				padding-left: 30px;
				padding-right: 30px;
				max-width: 100%;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.header-22 {
		.header-info {
			display: none;
		}
	}
}
