.header-27 {
	.header-above-inner {
		position: relative;
		padding: 25px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		> div {
			display: flex;
			align-items: center;
		}
	}

	.branding {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.header-above-right {
		justify-content: flex-end;
		margin: 0 -10px;

		> div {
			padding: 10px;
		}
	}

	.header-search-form-wrap {
		.search-field {
			border: 0;
			border-bottom: 1px solid #dddddd;
			border-radius: 0;
			background: transparent;
			padding: 0;
			height: 45px;
			width: 300px;

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				font-style: italic;
				font-size: 14px;
				color: #999;
			}

			&::-moz-placeholder { /* Firefox 19+ */
				font-style: italic;
				font-size: 14px;
				color: #999;
			}

			&:-ms-input-placeholder { /* IE 10+ */
				font-style: italic;
				font-size: 14px;
				color: #999;
			}

			&:-moz-placeholder { /* Firefox 18- */
				font-style: italic;
				font-size: 14px;
				color: #999;
			}
		}

		.search-submit {
			color: inherit;
			font-size: 20px;
			height: 38px;
			width: 38px;
		}

		.search-btn-icon {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
		}
	}

	.header-button {
		.tm-button.style-flat {
			text-transform: uppercase;
			font-size: 13px;
			letter-spacing: 0.5px;
			height: 50px;
			line-height: 46px;
		}
	}

	.header-below-inner {
		position: relative;
		display: flex;
		align-items: center;
	}

	.desktop-menu & {
		.menu--primary {
			position: static;
			text-align: left;
		}
	}

	.header-below-left {
		flex-grow: 1;
	}

	.header-below-right {
		flex-shrink: 0;
	}

	.mobile-menu & {
		.branding {
			flex-grow: 1;
		}

		.header-wrap {
			padding: 10px 0;
		}

		.header-below {
			display: none;
		}
	}

	.desktop-menu & {
		.menu__container {
			border-left: 1px solid #fff;

			> li {
				border-right: 1px solid #fff;

				> a {
					&:after {
						@extend %transit;
						content: '';
						position: absolute;
						right: 0;
						top: 0;
						width: 0;
						height: 3px;
					}
				}

				&:hover {
					> a {
						&:after {
							width: 100%;
							left: 0;
							right: auto;
						}
					}
				}
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.header-27 {
		.header-button {
			display: none;
		}

		.header-search-form-wrap .search-field {
			width: 200px;
		}
	}
}

@include media-breakpoint-down(sm) {
	.header-27 {
		.header-search-form-wrap {
			display: none;
		}

		.branding {
			position: static;
			transform: translate(0, 0);
		}

		.header-above-inner {
			padding: 10px 0;
		}

	}
}
