.header-15 {
	.header-wrap {
		position: relative;
		display: flex;
		align-items: center;
	}

	.header-right {
		flex-grow: 1;
		text-align: right;
		display: flex;
		justify-content: flex-end;
	}

	.branding {
		flex-shrink: 0;
	}

	.wpml-ls-item-toggle {
		padding: 18px 0;
	}

	.desktop-menu & {

		.menu--primary {
			position: static;
			text-align: right;

			.menu__container {
				> li {
					> a {
						.menu-item-wrap {
							position: relative;

							&:after {
								@extend %transit;
								content: '';
								position: absolute;
								right: 0;
								bottom: -3px;
								width: 0;
								height: 2px;
								//background: currentColor;
							}
						}
					}

					&:hover {
						> a {
							.menu-item-wrap {
								&:after {
									width: 100%;
									left: 0;
									right: auto;
								}
							}
						}
					}
				}
			}
		}
	}

	.mobile-menu & {
		.header-wrap {
			display: flex;
			align-content: center;
		}

		.branding {
			flex-grow: 1;
		}

		.header-right {
			flex-shrink: 0;
		}
	}

	.header-button {
		.tm-button {
			&:after {
				content: '\f10b';
				font-family: Ionicons;
				font-size: 14px;
				margin-left: 5px;
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.header-15 {
		.header-wrap {
			padding: 0 30px;
		}
	}
}

@include media-breakpoint-up(lg) {
	.header-15 {
		.header-wrap {
			padding: 0 60px;
		}
	}
}

@include media-breakpoint-up(xl) {
	.header-15 {
		.header-wrap {
			padding: 0 100px;
		}
	}
}
