.header-26 {
	.header-above {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 40px;
	}

	.branding {
		flex-shrink: 0;
	}

	.page-navigation {
		flex-grow: 1;
		margin-left: 35px;
	}

	.header-right {
		justify-content: flex-end;
	}

	.header-link-list {
		display: flex;
		align-items: center;
	}

	.header-below {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		border-top: 1px solid #eee;
	}

	.header-right-below {
		display: flex;
		flex-shrink: 0;

		> div {
			border-left: 1px solid #eee;
			display: flex;
			align-items: center;
		}
	}

	.header-link-list {
		padding: 10px 40px;

		.link-item {
			margin-right: 30px;
		}
	}

	.mini-cart {
		padding: 0 14px 0 24px;
	}

	.header-text-wrap {
		padding: 0 25px;
		font-size: 15px;
		font-weight: 500;

		a {
			text-decoration: underline;
		}
	}

	.header-button {
		position: relative;

		&:after {
			position: absolute;
			top: 100%;
			left: 12px;
			content: '';
			display: inline-block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 13px 15px 0 0;
			border-color: transparent;
			border-top-color: #000;
			transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		}

		.tm-button {
			height: 50px;
			line-height: 46px;
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 700;
			letter-spacing: 0.5px;
		}
	}

	.desktop-menu & {
		.menu--primary {
			position: static;
			text-align: left;
		}
	}

	.desktop-menu & {
		.menu__container {
			> li {
				> a {
					&:after {
						@extend %transit;
						content: '';
						position: absolute;
						right: 0;
						bottom: 0;
						width: 0;
						height: 3px;
					}
				}

				&:hover {
					> a {
						&:after {
							width: 100%;
							left: 0;
							right: auto;
						}
					}
				}
			}
		}
	}

	.header-search-form-wrap {
		display: flex;
		align-items: center;
		border-left: 1px solid #eee;

		.search-field {
			border: 0;
			border-radius: 0;
			background: transparent;
			width: 390px;
			padding: 0 20px;
			color: #222;

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				font-style: italic;
				font-size: 14px;
				color: #999;
			}

			&::-moz-placeholder { /* Firefox 19+ */
				font-style: italic;
				font-size: 14px;
				color: #999;
			}

			&:-ms-input-placeholder { /* IE 10+ */
				font-style: italic;
				font-size: 14px;
				color: #999;
			}

			&:-moz-placeholder { /* Firefox 18- */
				font-style: italic;
				font-size: 14px;
				color: #999;
			}
		}

		.search-submit {
			color: inherit;
			font-size: 20px;
			height: 40px;
			width: 40px;
			line-height: 40px;
			top: 50%;
			transform: translate(0, -50%);
			color: red;
		}
	}

	&.headroom--not-top {
		.header-below {
			display: none;
		}

		.tm-button.style-flat.tm-button-sm {
			height: 40px;
			line-height: 36px;
			font-size: 12px;
		}
	}
}

@include media-breakpoint-down(lg) {
	.header-26 {
		.header-text-wrap {
			display: none !important;
		}

		.header-search-form-wrap .search-field {
			width: 300px;
		}
	}
}

@include media-breakpoint-down(md) {
	.header-26 {
		.header-above {
			padding: 0 15px;
		}

		.branding {
			flex-shrink: 1;
		}

		.header-right-below {
			width: 100%;
			justify-content: space-between;

			.header-search-form-wrap {
				border-right: 1px solid #eee;
				border-left: 0;
			}
		}

		.header-link-list {
			display: none !important;
		}

		.header-social-networks {
			display: none;
		}

		.header-search-form-wrap .search-field {
			width: 250px;
		}
	}
}
