.header-23 {
	.header-wrap {
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		align-items: stretch;
	}

	.branding {
		display: flex;
		align-items: center;
		flex-shrink: 0;
		background-color: red;
		padding: 0 30px;
	}

	.header-social-networks {
		display: flex;
		align-items: center;
		padding: 0 30px;
		flex-shrink: 0;
	}

	.header-right {
		display: block;
		flex-grow: 1;
		margin: 0;

		> div {
			padding: 0;
		}
	}

	.header-top {
		border-bottom: 1px solid;
	}

	.header-link-list {
		flex-grow: 1;

		.link-item {
			padding: 11px 30px;
			margin-right: -4px;
			border-right: 1px solid #eee;
		}
	}

	.header-top,
	.header-bottom {
		display: flex;
		align-items: stretch;
	}

	.page-navigation {
		flex-grow: 1;
	}

	.header-right-group-search {
		display: flex;
		align-items: stretch;
		justify-content: flex-end;
		flex-shrink: 0;

		> div:not(.header-search-form-wrap) {
			display: flex;
			width: 80px;
			text-align: center;
			justify-content: center;
			align-items: center;
			border-left: 1px solid #eee;
			height: auto;
		}
	}

	.mini-cart__button {
		padding-left: 10px;
	}

	.header-search-form-wrap {
		display: flex;
		align-items: center;
		border-left: 1px solid #eee;

		.search-field {
			border: 0;
			border-radius: 0;
			background: transparent;
			width: 390px;
			padding: 0 20px;
			color: #222;

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				font-style: italic;
				font-size: 14px;
				color: #999;
			}

			&::-moz-placeholder { /* Firefox 19+ */
				font-style: italic;
				font-size: 14px;
				color: #999;
			}

			&:-ms-input-placeholder { /* IE 10+ */
				font-style: italic;
				font-size: 14px;
				color: #999;
			}

			&:-moz-placeholder { /* Firefox 18- */
				font-style: italic;
				font-size: 14px;
				color: #999;
			}
		}

		.search-submit {
			color: inherit;
			font-size: 20px;
			height: 40px;
			width: 40px;
			line-height: 40px;
			top: 50%;
			transform: translate(0, -50%);
			color: red;
		}
	}

	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}

	.desktop-menu & {
		.menu--primary {
			position: static;
			text-align: left;
			margin-left: 15px;
		}
	}
}

@include media-breakpoint-down(lg) {
	.header-23 {
		.header-right {
			display: flex;
			align-items: stretch;
		}

		.header-top {
			display: none;
		}

		.header-bottom {
			justify-content: flex-end;
			flex-grow: 1;
		}

		.header-right-group-search > div.page-open-main-menu {
			display: none;
		}
	}
}

@include media-breakpoint-down(sm) {
	.header-23 {
		.header-search-form-wrap {
			display: none;
		}
	}
}
