.header-13 {
	.header-wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
	}

	.header-left {
		display: flex;
		align-items: center;
		flex-grow: 1;
	}

	.branding {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.branding__logo {
		display: inline-block;
	}

	.header-right {
		flex-shrink: 0;
		margin: 0;
		justify-self: flex-end;
	}

	.header-left,
	.header-right {
		> div {
			padding: 0 15px;
			border-left: 1px solid rgba(216, 216, 216, .12);
		}
	}

	.header-right-group-buttons {
		display: flex;
		align-items: center;
		height: 100%;
		margin-left: -9px;
		margin-right: -9px;

		> div {
			padding: 0 9px;
		}
	}

	.desktop-menu & {
		.container-fluid {
			padding-left: 0;
			padding-right: 0;
		}

		.menu--primary {
			position: static;
			text-align: left;
		}
	}

	.wpml-ls-item-toggle-flag {
		margin-right: 7px !important;
	}

	.header-social-networks {
		height: 100%;
		display: flex;
		align-items: center;

		.inner {
			margin-left: -8px;
			margin-right: -8px;
		}

		a {
			padding: 0 8px;
			font-size: 18px;
		}
	}

	.mobile-menu & {
		.branding {
			position: static;
			transform: none;
			flex-grow: 1;
		}

		.header-left {
			display: none;
		}
	}
}

@media (min-width: 1400px) {
	.header-13 {
		.header-left,
		.header-right {
			> div {
				padding: 0 40px;
			}
		}
	}
}
