.header-19 {
	.header-wrap {
		position: relative;
		display: flex;
		align-items: stretch;
	}

	.branding {
		display: flex;
		align-items: center;
		padding: 0 30px;
		border-right: 1px solid rgba(216, 216, 216, .54);
		flex-shrink: 0;
	}

	.page-navigation {
		display: flex;
		align-items: center;
	}

	.header-right {
		margin: 0;
		padding: 10px 30px;
		border-left: 1px solid rgba(216, 216, 216, .54);
		flex-shrink: 0;
	}

	.header-right-wrap {
		padding: 0;
	}

	.header-right-above,
	.header-right-below {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-left: -12px;
		margin-right: -12px;

		> div {
			padding: 0 12px;
		}
	}

	.header-right-above {
		margin-bottom: 20px;
	}

	.header-search-form-wrap {
		.search-field {
			border: 0;
			border-bottom: 1px solid #ddd;
			border-radius: 0;
			background: transparent;
			padding: 0;
			height: 38px;
			width: 180px;
		}

		.search-submit {
			color: inherit;
			font-size: 20px;
			height: 38px;
			width: 38px;
		}

		.search-btn-icon {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
		}
	}

	.header-left-info {
		display: flex;
		align-items: center;
		padding: 10px 30px;
	}

	.info-wrap {
		display: flex;
		align-items: center;
	}

	.info-icon {
		font-size: 48px;
		color: $color__primary;
		flex-shrink: 0;
		margin-right: 20px;
	}

	.info-text {
		font-size: 14px;
		line-height: 1;
		margin-bottom: 5px;
	}

	.info-sub-text {
		font-size: 24px;
		font-weight: 700;
	}

	.desktop-menu & {
		.page-navigation {
			flex-grow: 1;
			padding-left: 20px;
			padding-right: 20px;
			position: static;
		}

		.container-fluid {
			padding: 0;
		}

		.menu--primary {
			position: static;
			text-align: left;
		}

		.menu__container {
			> li {
				> a {
					&:after {
						@extend %transit;
						content: '';
						position: absolute;
						right: 0;
						bottom: 0;
						width: 0;
						height: 3px;
					}
				}

				&:hover {
					> a {
						&:after {
							width: 100%;
							left: 0;
							right: auto;
						}
					}
				}
			}
		}
	}

	.mobile-menu & {
		.header-wrap {
			display: flex;
			align-content: center;
			flex-wrap: wrap;
		}

		.branding {
			flex-grow: 1;
			padding: 0;
		}

		.header-right {
			flex-shrink: 0;
			border: 0;
			padding: 0;
		}

		.header-right-above {
			display: none;
		}

		.popup-search-wrap {
			display: block !important;
		}
	}

	&.headroom--top {
		.popup-search-wrap {
			display: none;
		}
	}

	&.headroom--not-top {
		.header-right-above {
			display: none;
		}

		.header-right {
			padding: 0 30px;
		}

		@include media-breakpoint-down(lg) {
			.header-right {
				padding: 0;
			}
		}
	}
}

@media (min-width: 1720px) {
	.header-19 {
		.branding {
			padding: 0 44px;
		}

		.header-right {
			padding: 10px 60px;
		}
	}
}

@media (min-width: 1600px) {
	.header-19 {
		&.headroom--top {
			.header-left-info {
				display: flex;
			}
		}
	}
}

@media (min-width: 1400px) {
	.header-19 {
		.header-search-form-wrap {
			.search-field {
				width: 250px;
			}
		}
	}
}

@include media-breakpoint-down(xl) {
	.header-19 {
		.header-left-info {
			display: none;
		}
	}
}

@include media-breakpoint-down(lg) {
	.header-19 {
		.container-fluid {
			padding-left: 30px;
			padding-right: 30px;
		}

		.branding {
			border-right: none;
		}

		.header-right {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

@include media-breakpoint-down(xs) {
	.header-19 {
		.switcher-language-wrapper,
		.header-social-networks {
			display: none;
		}
	}
}
