.header-25 {
	.container-fluid {
		padding: 0;
	}

	.header-wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.branding {
		flex-shrink: 0;
		padding: 0 35px;
		background-color: #fff;

		img {
			padding: 20px 0;

		}
	}

	.header-right {
		flex-grow: 1;
		justify-content: space-between;
		padding: 0 60px 0 45px;
		margin: 0;

		> div {
			padding: 0;
		}
	}

	.header-below-inner {
		position: relative;
		display: flex;
		align-items: center;
	}

	.desktop-menu & {
		.menu--primary {
			position: static;
			text-align: left;
		}
	}
}

@include media-breakpoint-down(md) {
	.header-25 {
		.header-text-info {
			display: none;
		}

		.header-right {
			justify-content: flex-end;
			padding: 0 15px;
		}

		.branding {
			padding: 0 15px;
		}
	}
}
