.header-02 {
	.header-wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 19px 0 54px;
	}

	.header-right {
		flex-shrink: 0;
		justify-self: flex-end;
	}

	.branding {
		flex-grow: 1;
	}

	.branding__logo {
		display: inline-block;
	}

	.header-below {
		position: absolute;
		top: 100%;
		left: 15px;
		right: 15px;
		padding: 0 30px;
		display: flex;
		align-items: stretch;
		border-radius: 5px;
		transform: translateY(-50%);
	}

	.desktop-menu & {
		.menu--primary {
			position: static;
			text-align: left;
		}
	}

	.header-below-left {
		flex-grow: 1;
	}

	.header-below-right {
		flex-shrink: 0;
		display: flex;
		align-items: center;

		> div {
			padding: 0 10px;
		}
	}

	.mobile-menu & {
		.branding {
			flex-grow: 1;
		}

		.header-wrap {
			padding: 16px 0;
		}

		.header-below {
			display: none;
		}
	}

	.header-info {
		width: 900px;

		.info-item {
			display: flex;
		}

		.info-icon {
			position: relative;
			width: 50px;
			height: 50px;
			border: 1px solid #eeeeee;
			border-radius: 50%;
			flex-shrink: 0;
			font-size: 20px;
			margin-right: 15px;

			span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.info-content {
			flex-grow: 1;
		}

		.info-title {
			font-size: 16px;
			font-weight: 700;
			line-height: 1.18;
			margin-bottom: 6px;
		}

		.info-sub-title {
			font-size: 14px;
		}
	}
}

@include media-breakpoint-down(lg) {
	.header-02 {
		.header-info {
			width: 560px;
		}
	}
}

@include media-breakpoint-down(md) {
	.header-02 {
		.header-info {
			width: 280px;
		}
	}
}

@include media-breakpoint-down(sm) {
	.header-02 {
		.header-info {
			display: none;
		}
	}
}
