.header-04 {
	.header-wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.branding__logo {
		display: inline-block;
	}

	.page-navigation {
		flex-grow: 1;
	}

	.desktop-menu & {

		.col-xs-12 {
			padding-left: 0;
			padding-right: 0;
		}

		.branding__logo {
			padding: 0 60px;
		}

		.header-right {
			min-width: 174px;
			justify-content: center;
		}

		.menu--primary {
			position: static;

			.menu__container {
				display: flex !important;
				flex-direction: row;
				flex-wrap: wrap;
				width: 100%;

				> li {
					flex-grow: 1;
					flex-basis: 0;
					text-align: center;
				}

				> li {
					border-left: 1px solid rgba(216, 216, 216, .2);

					&:last-child {
						border-right: 1px solid rgba(216, 216, 216, .2);
					}
				}
			}
		}
	}

	.mobile-menu & {
		.header-wrap {
			min-height: 70px;
		}

		.branding {
			flex-grow: 1;
		}
	}
}
