.header-24 {
	.header-wrap {
		position: relative;
		display: flex;
		align-items: center;
		padding: 26px 0;
	}

	.header-right {
		flex-shrink: 0;
		margin: 0 -15px;

		> div, > ul {
			padding: 0 15px;
		}
	}

	.branding {
		flex-grow: 1;
	}

	.branding__logo {
		display: inline-block;
	}

	.header-right {
		justify-self: flex-end;
	}

	.header-link-list {
		font-weight: 500;
	}

	.switcher-language-wrapper {
		border-left: 1px solid #fff;
	}

	.header-button {
		.tm-button.style-flat {
			text-transform: uppercase;
			font-size: 13px;
			letter-spacing: 0.5px;
			height: 50px;
			line-height: 46px;
		}
	}

	.header-below {
		border-top: 1px solid #eee;
	}

	.header-below-inner {
		position: relative;
		display: flex;
	}

	.desktop-menu & {
		.menu--primary {
			position: static;
			text-align: left;
		}
	}

	.header-below-left {
		flex-grow: 1;
	}

	.header-below-right {
		flex-shrink: 0;
		display: flex;
		align-items: center;

		> div {
			padding: 0 10px;
		}
	}

	.mobile-menu & {
		.branding {
			flex-grow: 1;
		}

		.header-wrap {
			padding: 10px 0;
		}

		.header-below {
			display: none;
		}
	}

	.desktop-menu & {
		.menu__container {
			> li {
				> a {
					&:after {
						@extend %transit;
						content: '';
						position: absolute;
						right: 0;
						top: 0;
						width: 0;
						height: 3px;
					}
				}

				&:hover {
					> a {
						&:after {
							width: 100%;
							left: 0;
							right: auto;
						}
					}
				}
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.header-24 {
		.header-link-list {
			display: none;
		}

		.switcher-language-wrapper {
			border-left: 0;
		}
	}
}
