.header-06 {
	.header-wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 33px 0;
	}

	.header-right {
		flex-shrink: 0;
		justify-self: flex-end;
	}

	.branding {
		flex-grow: 1;
	}

	.branding__logo {
		display: inline-block;
	}

	.header-below-inner {
		display: flex;
		align-items: stretch;
	}

	.desktop-menu & {
		.menu--primary {
			position: static;
			text-align: left;
		}

		.menu__container {
			> .level-1 {
				> a > .menu-item-wrap {
					position: relative;

					&:before {
						transition: width .3s;
						content: '';
						position: absolute;
						bottom: -9px;
						width: 0;
						height: 2px;
						border-radius: 5px;
						background: currentColor;
					}
				}

				&:hover {
					> a > .menu-item-wrap {
						&:before {
							width: 100%;
						}
					}
				}
			}
		}
	}

	.header-below-left {
		flex-grow: 1;
	}

	.header-below-right {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		margin: 0 -10px;

		> div {
			padding: 0 10px;
		}
	}

	.mobile-menu & {
		.branding {
			flex-grow: 1;
		}

		.header-below {
			display: none;
		}
	}

	.header-info {
		width: 560px;

		.info-item {
			display: flex;
		}

		.info-icon {
			position: relative;
			width: 50px;
			height: 50px;
			border: 1px solid #eeeeee;
			border-radius: 50%;
			flex-shrink: 0;
			font-size: 20px;
			margin-right: 15px;

			span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.info-content {
			flex-grow: 1;
		}

		.info-title {
			font-size: 16px;
			font-weight: 700;
			line-height: 1.18;
			margin-bottom: 6px;
		}

		.info-sub-title {
			font-size: 14px;
		}
	}

	.header-social-networks {
		a {
			font-size: 16px;
		}
	}
}

@include media-breakpoint-down(lg) {
	.header-06 {
		.header-info {
			width: 560px;
		}
	}
}

@include media-breakpoint-down(md) {
	.header-06 {
		.header-info {
			width: 280px;
		}
	}
}

@include media-breakpoint-down(sm) {
	.header-06 {
		.header-info {
			display: none;
		}
	}
}
