.page-loading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100000;
}

.page-load-inner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.preloader-wrap {
	display: table;
	width: 100%;
	height: 100%;
}

.wrap-2 {
	display: table-cell;
	vertical-align: middle;
}

body {
	&.loaded {
		.page-loading {
			opacity: 0;
		}

		.page-load-inner {
			transform: translate3d(0, -100px, 0);
		}
	}
}

.page-loading {
	.sk-wrap {
		width: 60px;
		height: 60px;
		margin: 0 auto;
		font-size: 0;

		.sk-circle {
			margin: 0 auto;
		}
	}

	.sk-wandering-cubes {
		.sk-cube {
			width: 16px;
			height: 16px;
		}
	}

	.sk-three-bounce {
		@extend %clearfix;
		width: 80px;
		height: 20px;

		.sk-child {
			display: block;
			float: left;
		}

		.sk-bounce2 {
			margin: 0 10px;
		}
	}

	.sk-wave {
		> div {
			width: 7px;
			margin: 0 2px;
		}
	}

	.sk-image {
		margin: 0 auto;
		display: block;
		text-align: center;

		img {
			max-width: 200px;
			height: auto;
		}
	}
}
