.tm-testimonial-list {

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}

	.testimonial-item {
		@extend %transit;
		position: relative;
		padding-top: 10px;
		margin-bottom: 40px;
	}


	.post-thumbnail {
		margin-bottom: 30px;

		img {
			border-radius: 0;
			width: 100%;
		}
	}

	.testimonial-info {
		position: relative;
		flex-grow: 1;
	}

	.quote-icon {
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		width: 54px;
		height: 54px;
		line-height: 58px;
		text-align: center;
	}

	.testimonial-name {
		font-size: 20px;
		margin-bottom: 15px;
	}

	.testimonial-by-line {
		font-size: 15px;
		font-style: italic;
		font-weight: 400;

		&:before {
			content: ' - ';
		}
	}

	.testimonial-rating {
		font-size: 20px;
		color: #f8c823;
		margin-top: 10px;
	}
}

@include media-breakpoint-up(sm) {
	.tm-testimonial-list {
		.testimonial-item {
			display: flex;
		}

		.post-thumbnail {
			width: 250px;
			height: 190px;
			flex-shrink: 0;
			margin-right: 30px;
			margin-bottom: 0;
		}
	}
}
