.pricing-wrap {
	display: flex;
	align-items: flex-start;

	.tm-pricing {
		flex: 1 1 auto;
		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.tm-pricing-rating {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

.tm-pricing {
	z-index: 2;

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}

	.tm-pricing-list {
		margin: 0;
		padding: 0;

		li {
			list-style-type: none;
		}
	}

	.tm-pricing-button {
		min-width: 170px;
		max-width: 100%;
	}

	.period {
		font-size: 13px;
		font-weight: 400;
		color: inherit;
		margin-top: 5px;

		&:before {
			content: '/';
		}
	}

	&.style-1 {
		margin-bottom: 30px;
		margin-top: 52px;

		&.tm-pricing-featured {
			.inner {
				border: 2px solid red;
			}
		}

		.inner {
			@extend %transit2;
			position: relative;
			margin: 0 auto;
			border: 1px solid #ddd;
			background-color: #fff;
			padding: 72px 30px 40px;
		}

		.tm-pricing-header {
			padding-bottom: 20px;
			border-bottom: 1px solid #eee;
		}

		.price-wrap {
			position: absolute;
			top: -52px;
			left: 30px;
			border-radius: 50%;
			margin-bottom: 24px;
			width: 104px;
			height: 104px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.price-wrap-inner {
			text-align: center;
		}

		.currency {
			font-size: 15px;
			color: inherit;
			font-weight: 700;
			vertical-align: top;
		}

		.price {
			font-size: 34px;
			font-weight: 700;
			color: inherit;
			line-height: .7;
			margin-left: 4px;
			margin-right: 4px;
		}

		.title {
			font-size: 26px;
			margin-bottom: 5px;
		}

		.description {
			font-size: 13px;
		}

		.tm-pricing-content {
			padding-top: 25px;
		}

		.tm-pricing-list {
			font-weight: 400;

			li {
				position: relative;
				display: block;
				padding: 8px 0;

				i {
					font-size: 14px;
					margin-right: 10px;
				}

			}
		}

		.tm-pricing-footer {
			padding-top: 30px;
		}
	}

	&.style-2 {
		margin-bottom: 30px;

		&:hover {
			.inner {
				transform: translateY(-10px);
			}
		}

		.inner {
			@extend %transit2;
			position: relative;
			margin: 0 auto;
			box-shadow: 0 10px 40px rgba(0, 0, 0, .05);
			background-color: #fff;
			padding-bottom: 60px;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border: 3px solid transparent;
				pointer-events: none;
			}
		}

		.tm-pricing-header {
			text-align: center;
			background: #eee;
			padding: 60px 30px 31px;
		}

		.price-wrap-inner {
			display: flex;
			align-items: flex-start;
			justify-content: center;
			margin-bottom: 25px;
		}

		.currency {
			font-size: 24px;
			color: inherit;
			vertical-align: top;
		}

		.price {
			font-size: 80px;
			font-weight: 700;
			color: inherit;
			line-height: .7;
			margin-left: 4px;
			margin-right: 4px;
		}

		.period {
			font-size: 15px;
			font-weight: 700;
		}

		.title {
			font-size: 20px;
			margin-bottom: 14px;
		}

		.description {
			font-size: 13px;
		}

		.tm-pricing-content {
			padding: 46px 30px 0;
		}

		.tm-pricing-list {
			font-weight: 400;
			color: #222;

			li {
				position: relative;
				display: block;

				i {
					font-size: 13px;
					margin-right: 10px;
				}

				+ li {
					margin-top: 16px;
				}

			}
		}

		.tm-pricing-footer {
			padding: 46px 30px 0;
		}

		&:not(.tm-pricing-featured) {
			.tm-pricing-button {
				color: #999;
				background-color: #eee;
				border-color: #eee;

				&:hover {
					background-color: transparent;
				}
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.pricing-wrap {
		flex-wrap: wrap;

		.tm-pricing {
			width: 100%;
			max-width: 100%;
			margin-right: 0;
		}
	}
}
