.tm-counter {
	margin-bottom: 30px;

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}

	&.align-left {
		.number-wrap {
			justify-content: flex-start;
		}
	}

	&.align-center {
		.number-wrap {
			justify-content: center;
		}
	}

	&.align-right {
		.number-wrap {
			justify-content: flex-end;
		}
	}

	&.style-01 {

		.icon {
			font-size: 60px;
			line-height: 1;
			margin-bottom: 20px;
		}

		.number-wrap {
			display: flex;
			margin-bottom: 20px;
			font-size: 60px;
			line-height: 1;
			font-weight: 500;
		}

		.number-suffix {
			font-size: 34px;
			line-height: 1;
		}

		.text {
			font-size: 20px;
			line-height: 1.5;
			margin-bottom: 15px;
		}
	}

	&.style-02 {

		.icon {
			font-size: 60px;
			line-height: 1;
			margin-bottom: 20px;
		}

		.number-wrap {
			display: flex;
			margin-bottom: 20px;
			font-size: 80px;
			font-weight: 700;
			line-height: 1;
		}

		.number-prefix {
			font-weight: 500;
		}

		.number-suffix {
			font-size: 26px;
			font-weight: 700;
			line-height: 1;
		}

		.text {
			font-size: 18px;
			line-height: 1.5;
			margin-bottom: 15px;
		}
	}

	&.style-03 {

		.icon {
			font-size: 44px;
			line-height: 1;
			margin-bottom: 20px;
		}

		.number-wrap {
			display: flex;
			margin-bottom: 20px;
			font-size: 44px;
			line-height: 1;
			font-weight: 500;
		}

		.number-suffix {
			font-size: 24px;
			line-height: 1;
		}

		.text {
			font-size: 16px;
			font-weight: 500;
			line-height: 1.5;
			margin-bottom: 15px;
		}
	}
}
