.tm-info-boxes {
	&.style-metro {

		.grid-item-wrap {
			display: flex;
			align-items: stretch;

			&:before {
				content: '';
				display: block;
				padding-top: 100%;
			}
		}

		.grid-width-2 {
			.grid-item-wrap {
				&:before {
					padding-top: 50%;
				}
			}
		}

		.grid-item {
			&.has-image {
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
			}
		}

		.box-content-inner {
			display: table;
			width: 100%;
			height: 100%;
		}

		.box-info {
			display: table-cell;
			vertical-align: middle;
		}

		.box-content {
			padding: 40px;
			width: 100%;
		}

		.icon {
			line-height: 0;
			font-size: 70px;
			margin-bottom: 40px;
		}

		.box-title {
			margin-bottom: 20px;
			font-size: 24px;
			line-height: 1.2;
		}

		.tm-button {
			margin-top: 27px;
			padding-right: 18px;

			&:hover {
				padding-right: 23px;
			}

			.button-icon {
				right: 0;
				margin-top: 1px;
				font-size: 15px;
			}
		}
	}
}

@media (min-width: 1600px) {
	.tm-info-boxes {
		&.style-metro {
			.icon {
				margin-bottom: 70px;
			}

			.box-content {
				padding: 50px 55px;
			}

			.tm-button {
				margin-top: 47px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.tm-info-boxes {
		&.style-metro {
			.grid-width-2 {
				grid-column: span 1;

				.grid-item-wrap {
					&:before {
						padding-top: 100%;
					}
				}
			}
		}
	}
}
