@-webkit-keyframes separator-bounce {
	0%,
	80%,
	100% {
		-webkit-transform: scale(.5);
		transform: scale(.5);
		opacity: .3;
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: .6;
	}
}

@keyframes separator-bounce {
	0%,
	80%,
	100% {
		-webkit-transform: scale(.5);
		transform: scale(.5);
		opacity: .3;
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: .6;
	}
}

.tm-separator {

	line-height: 0;

	&.style-single-line {
		border-bottom: 1px solid #f3f3f3;
	}

	&.style-thick-short-line {

		.separator-wrap {
			display: inline-block;
			height: 8px;
			width: 50px;
			border-radius: 5px;
		}

	}

	&.style-modern-dots {

		.separator-wrap {
			cursor: pointer;
			display: inline-block;
			padding: 3px 10px;
		}

		.dot {
			border-radius: 50%;
			box-shadow: 0 0 12px #def0ff;
			background: #ffffff;
			animation: separator-bounce 1.4s ease-in-out 0s infinite both;
			width: 14px;
			height: 14px;
		}

		.second-circle {
			margin-top: 18px;
			animation-delay: -.16s;

		}

		.third-circle {
			margin-top: 14px;
			animation-delay: -.32s;
		}
	}
}
