.tm-case-study {
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}

	.tm-grid-pagination {
		margin-top: 20px;
	}

	.tm-filter-button-group {
		padding-bottom: 125px;
	}

	.post-thumbnail {
		position: relative;

		img {
			@extend %transit2;
			width: 100%;
		}
	}

	.post-categories {
		font-size: 15px;

		a {
			color: inherit;
			font-size: inherit;
		}
	}

	.post-title {
		font-size: 24px;

		a {
			font-size: inherit;
		}
	}

	&.style-grid {
		.post-item-wrap {
			@extend %transit2;

			&:hover {
				.post-thumbnail-wrap {
					img {
						transform: scale(1.1, 1.1);
					}
				}

				.post-read-more {
					span {
						color: #222;
					}
				}
			}
		}

		.post-thumbnail-wrap {
			position: relative;
			overflow: hidden;

			img {
				transition: all .8s;
			}
		}

		.post-overlay {
			@extend %transit2;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 5px;
			background: rgba(0, 0, 0, .7);
			background: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, #000000 76%);
		}

		.post-overlay-content {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 30px 35px 40px;
			width: 100%;
		}

		.post-categories {
			margin-bottom: 7px;
			color: #ffffff;
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;
		}

		.post-title {
			line-height: 1.4;
			color: #ffffff;
		}

		.post-read-more {
			@extend %transit;
			position: absolute;
			top: 30px;
			right: 30px;
			height: 60px;
			width: 60px;
			border: 2px solid red;
			border-radius: 50%;

			span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 24px;
			}
		}
	}

	&.style-grid-caption {
		.post-item-wrap {
			@extend %transit2;
			background: #ffffff;
			box-shadow: 0 30px 50px rgba(0, 0, 0, 0.06);

			&:hover {
				.post-thumbnail-wrap {
					&:before {
						background-color: rgba(0, 0, 0, 0.3);
					}
				}
			}
		}

		.post-thumbnail-wrap {
			margin: -1px -1px 0;
			position: relative;

			&:before {
				@include transit;
				display: inline-block;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0);
				z-index: 2;
			}
		}

		.post-info {
			padding: 30px;
		}

		.post-categories {
			margin-top: 5px;
		}

		.post-title {
			line-height: 1.41;
		}
	}

	&.style-grid-caption-2 {
		.post-item-wrap {
			@extend %transit2;
			position: relative;
			background: #ffffff;
			box-shadow: 0 30px 50px rgba(0, 0, 0, 0.06);
			margin-bottom: 50px;

			&:hover {
				.post-thumbnail-wrap {
					&:before {
						background-color: rgba(0, 0, 0, 0.3);
					}
				}
			}
		}

		.post-thumbnail-wrap {
			margin: -1px -1px 0;
			position: relative;

			&:before {
				@include transit;
				display: inline-block;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0);
				z-index: 2;
			}
		}

		.post-info {
			padding: 30px;
		}

		.post-title {
			line-height: 1.41;
		}

		.post-excerpt {
			border-top: 1px solid #eee;
			padding-top: 15px;
			margin-top: 14px;
		}

		.post-read-more a {
			position: absolute;
			bottom: -30px;
			left: 50%;
			margin-left: -30px;
			font-size: 20px;
			width: 60px;
			height: 60px;
			border: 2px solid red;
			background-color: #fff;
			text-align: center;
			line-height: 60px;
			border-radius: 50%;

			&:hover {
				color: #fff;
			}
		}
	}

	&.style-simple-list {

		background-color: #fff;

		.case-study-item {
			+ .case-study-item {
				border-top: 1px solid #eee;
			}
		}

		.post-item-wrap {
			@extend %transit;
			display: flex;
			padding: 16px 20px;
			position: relative;

			&:before {
				@include transit;
				position: absolute;
				top: 0;
				left: 0;
				content: '';
				display: inline-block;
				width: 5px;
				height: 0;
			}

			&:hover {
				box-shadow: 0 10px 20px rgba(0, 0, 0, 0.11);

				&:before {
					height: 100%;
				}
			}
		}

		.post-thumbnail-wrap {
			width: 75px;
			flex-shrink: 0;
		}

		.post-info {
			margin-left: 24px;
		}

		.post-title {
			@extend %transit;
			font-size: 18px;
			line-height: 1.375;
		}

		.post-categories {
			font-size: 13px;
			text-transform: capitalize;
		}
	}

	&.style-carousel {
		margin: -20px -20px 0;

		.tm-swiper {
			&.pagination-style-6 {
				margin-bottom: 57px;

				.swiper-pagination {
					bottom: -57px;
				}
			}
		}

		.swiper-container {
			padding: 0 0 10px;
		}

		.swiper-item {
			padding: 20px;
		}

		.post-item-wrap {
			@extend %transit;
			display: flex;
			background: #ffffff;
			border-radius: 0;
			overflow: hidden;

			&:hover {
				transform: translateY(-10px);
				box-shadow: 0 20px 40px rgba(0, 0, 0, .09);
			}
		}

		.post-thumbnail-wrap {
			flex-shrink: 0;
		}

		.post-info {
			position: relative;
			flex-grow: 1;
			padding: 37px 38px 100px;
		}

		.post-categories {
			font-size: 12px;
			font-weight: 700;
			letter-spacing: 2px;
			text-transform: uppercase;
			margin-bottom: 20px;
		}

		.post-title {
			font-size: 20px;
			line-height: 1.2;
		}

		.post-read-more {
			position: absolute;
			left: 38px;
			bottom: 32px;
			display: inline-block;
			font-size: 15px;
			font-weight: 700;
			padding-bottom: 1px;
			border-bottom: 1px solid #dddddd;
		}
	}

	&.style-carousel-2 {
		margin: 0;

		.tm-swiper {
			margin: 0;

			&.pagination-style-6 {
				margin-bottom: 60px;

				.swiper-pagination {
					bottom: -60px;
				}
			}

			.swiper-nav-button {
				background-color: #fff;
				width: 60px;
				height: 60px;
				line-height: 56px;

				&:hover {
					background-color: $color__primary;
				}
			}

			.swiper-button-prev {
				left: calc((100% - 1565px) / 2);
			}

			.swiper-button-next {
				right: calc((100% - 1565px) / 2);
			}
		}

		.case-study-item {
			.post-thumbnail {
				overflow: hidden;
			}

			&:hover {
				.post-thumbnail {
					img {
						transform: scale(1.1);
					}
				}
			}
		}

		.swiper-container {
			padding: 0 0 10px;
		}

		.swiper-slide {
			width: 1170px;

			&.swiper-slide-next {
				.post-info {
					display: none;
				}
			}
		}

		.post-item-wrap {
			@extend %transit;
			display: flex;
			border-radius: 0;
			overflow: hidden;
			align-items: center;
		}

		.post-thumbnail-wrap {
			flex-shrink: 0;
		}

		.post-info {
			position: relative;
			flex-grow: 1;
			padding: 40px 0;

			.post-number {
				font-size: 24px;
				font-weight: 700;
				color: $color__primary;
				margin-bottom: 10px;
			}

			.post-title {
				font-size: 36px;
				@include media-breakpoint-up(md) {
					font-size: 50px;
				}
				font-weight: 700;
				color: #222;
				line-height: 1.2;
				margin-bottom: 30px;
			}

			.post-excerpt {
				font-size: 15px;
				color: #888;
				margin-bottom: 40px;
				@include media-breakpoint-up(lg) {
					max-width: 300px;
				}

				p {
					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			.post-read-more {
				display: inline-block;
				font-size: 13px;
				font-weight: 700;
				text-transform: uppercase;

				&:after {
					content: '\f10b';
					font-family: Ionicons;
					margin-left: 5px;
					font-weight: 400;
					color: $color__primary;
				}
			}
		}

		.pagination-style-8 {
			.swiper-pagination {
				font-size: 20px;
				color: #999;
				letter-spacing: 0;

				span {
					font-size: 20px;

					&:first-child {
						color: #222;
					}
				}
			}
		}

		@include media-breakpoint-down(lg) {
			.swiper-slide {
				width: 910px;
			}
			.post-item-wrap {
				flex-direction: column;

				.post-info, .post-thumbnail-wrap {
					width: 100%;
					display: block !important;

					img {
						width: 100%;
						height: auto;
					}
				}

				.post-info {
					.post-excerpt {
						margin-bottom: 30px;
					}
				}
			}
		}

		@include media-breakpoint-down(md) {
			.swiper-slide {
				width: 100%;

				.post-info {
					order: 2;
					padding-left: 15px;
					padding-right: 15px;

					.post-number {
						display: none;
					}
				}

				.post-thumbnail-wrap {
					order: 1;
				}
			}

			.swiper-pagination {
				bottom: 0;
			}
		}
	}

	&.style-carousel-3 {
		padding-bottom: 70px;

		.post-thumbnail {
			min-height: 500px;
			background-size: cover;
			background-position: center center;
		}

		.post-info {
			background-color: $color__primary;
			color: #fff;
			padding: 35px 30px 50px;
		}

		.post-number {
			font-size: 24px;
			font-weight: 700;
			margin-bottom: 60px;
		}

		.post-title {
			font-size: 40px;
			font-weight: 700;
			color: #fff;

			a {
				color: #fff;

				&:hover {
					color: #222;
				}
			}
		}

		.post-excerpt {
			margin-bottom: 70px;
		}

		.post-read-more {
			display: inline-block;
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 700;
			letter-spacing: 0.5px;
			border-bottom: 2px solid rgba(238, 238, 238, 0.24);
			color: #fff;

			span {
				color: #fff;
				font-size: 14px;
				margin-left: 3px;
			}

			&:hover {
				color: #222;
			}
		}

		.tm-swiper {
			margin: 0;
		}

		.tm-swiper .swiper-container {
			padding: 0;
		}

		.tm-swiper.pagination-style-9 {

			.swiper-pagination {
				top: auto;
				bottom: -70px;
				text-align: center;
			}

			.swiper-pagination-bullet {
				&.swiper-pagination-bullet-active {
					border: 2px solid transparent;
					margin-right: 3px;

					&:after {
						display: none;
					}
				}
			}
		}

		@include media-breakpoint-up(md) {
			.post-item-wrap {
				padding-left: 400px;
			}
			.post-thumbnail-wrap {
				position: relative;
			}

			.post-info {
				position: absolute;
				top: 50%;
				left: -300px;
				transform: translateY(-50%);
				width: 400px;
				height: 400px;
				z-index: 2;
			}

			.post-thumbnail {
				min-height: 715px;
			}

			.tm-swiper.pagination-style-9 {
				padding-top: 0;

				.swiper-pagination {
					top: auto;
					bottom: calc(50% - 280px);
					text-align: left;
					padding-left: 90px;
				}

				.swiper-pagination-bullet {
					&.swiper-pagination-bullet-active {
						border: 2px solid transparent;
						margin-right: 3px;

						&:after {
							display: none;
						}

						&:last-child {
							margin-left: 3px;
						}
					}
				}
			}
		}
	}

	&.style-carousel-4 {
		.tm-swiper {
			margin: -30px;

			.swiper-container {
				padding: 0;
			}

			.swiper-pagination {
				position: relative;
				bottom: 0;
				margin-top: 30px;
				margin-bottom: 30px;
			}
		}

		.swiper-item {
			padding: 30px;
			@include transit;

			.post-item-wrap {
				background-color: #fff;
				box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
				@include transit;

				.post-info {
					height: 60px;
					line-height: 60px;
					overflow: hidden;
					padding: 0 20px;
					font-size: 20px;
					font-weight: 700;
					color: #222;
				}
			}

			&:hover {
				padding: 0;

				.post-item-wrap {
					background-color: $color__primary;
				}
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.tm-case-study {
		&.style-carousel {
			.post-item-wrap {
				display: block;
			}
		}
	}
}

