.tm-blog {

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}

	.post-item {
		box-sizing: border-box;
		word-wrap: break-word;
	}

	.post-title,
	.post-categories {
		a {
			color: inherit;
			font-size: inherit;
		}
	}

	.post-excerpt {
		p:last-child {
			margin-bottom: 0;
		}
	}

	.format-gallery {
		.swiper-pagination {
			bottom: 27px;

			.swiper-pagination-bullet {
				&:before {
					background: #ffffff;
				}
			}
		}
	}

	.post-audio {
		margin-bottom: -8px;

		iframe {
			width: 100%;
			height: 145px;
			border: 0;
		}
	}

	.post-link {
		margin-bottom: 14px;

		a {
			letter-spacing: -.02em;
			font-size: 20px;
			line-height: 1.2;
		}
	}

	.post-quote {
		padding: 55px 35px 47px;
		background: url(assets/images/blog-quote-icon.png) no-repeat top 0 right 2px;

		.post-quote-text {
			margin-bottom: 18px;
			color: #ffffff;
			font-weight: 600;
			font-size: 22px;
			line-height: 1.3;
		}

		.post-quote-name {
			position: relative;
			padding-left: 40px;
			letter-spacing: -.02em;
			font-style: italic;
			font-size: 16px;

			&:before {
				position: absolute;
				top: 50%;
				left: 0;
				display: block;
				width: 29px;
				height: 1px;
				background-color: #ffffff;
				content: '';
			}

			a {
				color: #ffffff;
			}
		}
	}

	&.style-list {
		@extend %clearfix;

		.post-item {
			margin-bottom: 90px;

			&:last-child {
				margin-bottom: 35px;
			}
		}

		.post-thumbnail {
			position: relative;
			text-align: center;
		}

		.post-feature {
			margin-bottom: 50px;
		}

		.post-title {
			margin-bottom: 15px;
			font-size: 32px;
			line-height: 1.5;
		}

		.post-meta {
			padding-bottom: 19px;
			margin-bottom: 20px;
			border-bottom: 1px solid #e9e9e9;

			> div {
				display: inline-block;
				text-transform: uppercase;
				font-size: 13px;
				font-weight: 700;
				letter-spacing: 1px;
				color: #b5b5b5;

				a {
					&.sl-button {
						color: #222;

						i {
							color: #FFC246;
						}
					}
				}

				& + div {
					&:before {
						content: '';
						display: inline-block;
						width: 6px;
						height: 6px;
						border-radius: 50%;
						background-color: #ddd;
						margin: 0 11px 2px;
					}

					.sl-button {
						padding-right: 0;
					}
				}
			}
		}

		.post-author-meta {
			color: #c0c0c0;
			font-weight: 600;
		}

		.post-date {
			font-weight: 600;
		}

		.post-categories {
			position: relative;
			font-weight: 500;
			font-size: 13px;
			margin: -5px -3px 15px;

			a {
				display: inline-block;
				padding: 4px 9px;
				margin: 5px 3px;
				border: 1px solid #ddd;
				color: #222;

				&:hover {
					color: #222;
				}
			}
		}

		.post-read-more {
			a {
				display: inline-block;
				padding: 0 30px;
				background-color: red;
				color: #222;
				height: 50px;
				line-height: 50px;

				&:hover {
					color: #fff;
				}
			}

			.btn-text {
				font-weight: 700;
				font-size: 13px;
				color: inherit;
				letter-spacing: 0.5px;
				text-transform: uppercase;
			}
		}

		.post-excerpt {
			margin-bottom: 20px;
		}
	}

	&.style-02 {

		.post-item-wrap {
			height: 100%;
			margin-bottom: 60px;
			margin-top: 30px;

			&:hover {
				.post-feature-wrap {
					img {
						transform: scale3d(1.15, 1.15, 1.15);
					}
				}
			}
		}

		&.style-carousel_02 {
			.post-item-wrap {
				margin-bottom: 0;
			}
		}

		.post-feature-wrap {
			@extend %transit;
			position: relative;
			margin-bottom: 30px;

			img {
				width: 100%;
				transition: all 1s cubic-bezier(0, 0, .2, 1);
			}
		}

		.post-thumbnail {
			overflow: hidden;
		}

		.post-date {
			position: absolute;
			right: 0;
			bottom: 100%;
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #fff;
			padding: 5px 11px;
		}

		.post-categories {
			margin-bottom: 11px;
		}

		.post-title {
			margin-bottom: 10px;
			font-size: 24px;
			line-height: 1.4;

			a {
				color: inherit;

				&:hover {
					text-decoration: none;
				}
			}
		}

		.page-pagination {
			margin-top: 0;
		}
	}

	&.style-grid_classic_02 {

		.post-item-wrap {
			height: 100%;

			&:hover {

				.post-feature-wrap {
					transform: translateY(-10px);
				}

				.post-thumbnail {
					box-shadow: 0 20px 30px rgba(0, 0, 0, .15);
				}
			}
		}

		.post-feature-wrap {
			@extend %transit;
			position: relative;
			padding-top: 30px;
			margin-bottom: 23px;

			img {
				width: 100%;
			}
		}

		.post-thumbnail {
			@extend %transit;
			overflow: hidden;
		}

		.post-date {
			position: absolute;
			right: 30px;
			top: 0;
			width: 60px;
			height: 60px;
			padding: 10px 5px 0;
			border-radius: 100%;
			text-align: center;
		}

		.post-day {
			font-size: 20px;
			line-height: 1.2;
			color: #222;
		}

		.post-month {
			font-size: 13px;
			color: #222;
		}

		.post-info {
			padding-bottom: 10px;
		}

		.post-title {
			font-size: 24px;
			line-height: 1.4;

			a {
				&:hover {
					text-decoration: underline;
				}
			}
		}

		.post-categories {
			position: relative;
			font-weight: 500;
			font-size: 13px;
			margin: -3px -3px 10px;

			a {
				display: inline-block;
				color: #222;
				padding: 2px 9px;
				margin: 3px;
				border: 1px solid #ddd;
			}
		}
	}

	// same css for grid_classic_03 + carousel
	&.style-01 {

		.post-item {
			padding-bottom: 20px;

			&:hover {
				.post-item-wrap {
					box-shadow: 0 20px 40px rgba(0, 0, 0, .09);
				}

				.post-read-more {
					transform: translateX(-50%);
				}
			}
		}

		.post-item-wrap {
			@extend %transit2;
			position: relative;
			height: 100%;
			background: #ffffff;
			box-shadow: 0 20px 20px rgba(0, 0, 0, .03);
		}

		.post-feature-wrap {
			img {
				width: 100%;
			}
		}

		.post-info {
			padding: 26px 30px 54px;
		}

		.post-title {
			font-size: 24px;
			line-height: 1.4;
			margin-bottom: 17px;
			padding-bottom: 17px;
			border-bottom: 1px solid #e9e9e9;

			a {
				&:hover {
					text-decoration: underline;
				}
			}
		}

		.post-meta {
			margin-bottom: 14px;

			> div {
				display: inline-block;
			}

			color: #b5b5b5;
			font-weight: 700;
			font-size: 13px;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		.post-author-meta {
			a {
				color: inherit;
			}
		}

		.post-date {
			position: relative;
			margin-right: 7px;
			padding-right: 15px;

			&:before {
				content: ' ';
				position: absolute;
				top: 50%;
				right: 0;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background: #ddd;
				transform: translate(0, -50%);
			}
		}

		.post-categories {
			font-weight: 700;
		}

		.post-read-more {
			position: absolute;
			bottom: -30px;
			left: 50%;
			transform: translateX(-50%);
			height: 60px;
			width: 60px;
			border-radius: 100%;
			font-size: 24px;
			border: 2px solid;
			background-color: #fff;

			&:hover {
				color: #fff;
			}

			span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	&.style-03 {
		.post-item-wrap {
			margin-bottom: 30px;
		}

		.post-info {
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #e9e9e9;
		}

		.post-categories {
			margin: 0 -3px 10px;
			color: #222;

			a {
				display: inline-block;
				font-size: 13px;
				font-weight: 500;
				padding: 2px 9px;
				margin: 0 3px 10px;

				&:hover {
					color: #fff;
				}
			}
		}

		.post-title {
			font-size: 24px;
			margin-bottom: 15px;
		}

		.post-date {
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #b5b5b5;
		}

		.post-read-more {
			margin-top: 30px;
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.5px;

			.btn-icon {
				font-size: 14px;
				font-weight: 500;
				margin-left: 5px;
			}
		}
	}

	&.style-04 {
		.post-item-wrap {
			background-color: #222222;

			&:hover {
				.post-thumbnail {
					img {
						transform: scale3d(1.15, 1.15, 1.15);
					}
				}
			}

			&.item-has-thumb {
				height: 100%;
				position: relative;

				.post-info {
					position: absolute;
					left: 0;
					bottom: 0;
					right: 0;
					top: 0;
				}
			}
		}

		.post-info {
			padding: 26px 23px;
			display: flex;
			align-items: flex-end;
			height: 100%;
		}

		.post-thumbnail {
			overflow: hidden;

			img {
				transition: all 1.5s cubic-bezier(0, 0, .2, 1);
				width: 100%;
			}

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background: rgba(0, 0, 0, .6);
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
			}
		}

		.post-categories {
			margin: 0 -5px 13px;
			font-size: 0;

			a {
				display: inline-block;
				font-size: 13px;
				font-weight: 500;
				color: #222;
				padding: 2px 9px;
				margin: 0 5px 5px;

				&:hover {
					color: #222;
					transform: translateY(-5px);
				}
			}
		}

		.post-title {
			font-size: 24px;
			line-height: 1.25;
			margin-bottom: 16px;
			color: #ffffff;
		}

		.post-date {
			font-weight: 700;
			font-size: 13px;
			letter-spacing: 1px;
			color: #fff;
			text-transform: uppercase;
		}
	}

	&.style-05 {
		.post-item-wrap {
			&:hover {
				.post-thumbnail {
					&:before {
						background-color: rgba(0, 0, 0, 0.3);
					}
				}
			}
		}

		.post-thumbnail {
			position: relative;
			margin-bottom: 30px;
			overflow: hidden;

			img {
				width: 100%;
			}

			&:before {
				@include transit;
				display: inline-block;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0);
			}
		}

		.post-date {
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #b5b5b5;
			margin-bottom: 23px;
		}

		.post-title {
			font-size: 26px;
			margin-bottom: 20px;

			&:hover {
				a {
					text-decoration: underline;
				}
			}
		}

		.post-excerpt {
			margin-bottom: 20px;
		}

		.post-read-more {
			display: inline-block;
			position: relative;
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			border-bottom: 2px solid #eee;
			margin-bottom: 20px;

			&:after {
				@include transit;
				content: '';
				position: absolute;
				bottom: -2px;
				right: 0;
				width: 0;
				height: 2px;
			}

			&:hover {
				&:after {
					width: 100%;
					left: 0;
					right: auto;
				}
			}

			a {
				color: inherit;
			}

			.btn-icon {
				font-size: 14px;
				font-weight: 500;
				margin-left: 5px;
			}
		}

		&.style-carousel_05 {
			.tm-swiper {
				margin: 0;
			}

			.swiper-container {
				padding: 0;
			}

			.post-read-more {
				margin-bottom: 0;
			}
		}
	}

	&.style-list_simple {
		.post-item {
			+ .post-item {
				margin-top: 20px;
				padding-top: 20px;
				border-top: 1px solid #e9e9e9;
			}
		}

		.post-item-wrap {
			display: flex;
		}

		.post-thumbnail {
			flex-shrink: 0;
			width: 105px;
			height: 80px;
			margin-right: 20px;
		}

		.post-title {
			font-size: 20px;
			margin-bottom: 10px;

			&:hover {
				text-decoration: underline;
			}
		}

		.post-date {
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 700;
			color: #b5b5b5;
			letter-spacing: 1px;
		}
	}

	&.style-list_simple_2 {
		.post-item {
			+ .post-item {
				margin-top: 20px;
				padding-top: 20px;
				border-top: 1px solid #e9e9e9;
			}
		}

		.post-title {
			font-size: 24px;
			margin-bottom: 10px;

			&:hover {
				text-decoration: underline;
			}
		}

		.post-date {
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 700;
			color: #b5b5b5;
			letter-spacing: 1px;
		}
	}

	&.style-metro {
		.post-item-wrap {
			position: relative;
			overflow: hidden;

			&:before {
				content: '';
				display: block;
				padding-top: 100%;
			}

			&:hover {
				.post-thumbnail {
					transform: scale3d(1.15, 1.15, 1.15);
				}
			}
		}

		.post-thumbnail {
			transition: all 1.5s cubic-bezier(0, 0, .2, 1);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #222222;
			background-size: cover;
			background-repeat: no-repeat;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, .6);
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
			}
		}

		.post-info {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 0 40px 40px;
			width: 100%;
		}

		.post-categories {
			margin: 0 -5px 19px;
			font-size: 0;

			a {
				display: inline-block;
				font-size: 13px;
				font-weight: 500;
				color: #222 !important;
				padding: 2px 9px;
				margin: 0 5px 5px;

				&:hover {
					transform: translateY(-5px);
				}
			}
		}

		.post-title {
			font-size: 24px;
			line-height: 1.25;
			margin-bottom: 18px;
			color: #ffffff;
		}

		.post-date {
			font-weight: 700;
			font-size: 13px;
			letter-spacing: 1px;
			color: #fff;
			text-transform: uppercase;
		}
	}
}

@include media-breakpoint-down(sm) {
	.tm-blog {
		&.style-01 {
			.post-title {
				font-size: 16px;
			}

			.post-info {
				padding: 26px 25px 49px;
			}
		}

		&.style-grid_classic_03 {
			.post-info {
				padding: 31px 30px 54px;
			}
		}
	}
}
