.tm-accordion {

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}

	.accordion-title-wrapper {
		cursor: pointer;
	}

	.accordion-title {
		@extend %transit2;
	}

	.accordion-content {
		display: none;
	}

	&.style-1 {

		border: 1px solid #ddd;
		overflow: hidden;

		.accordion-section {
			+ .accordion-section {
				border-top: 1px solid #ddd;
			}
		}

		.accordion-title {
			position: relative;
			font-size: 18px;
			line-height: 1.2;
			padding: 20px 35px;

			&:before {
				content: '';
				width: 3px;
				height: 0;
				background-color: red;
				position: absolute;
				top: 0;
				left: 0;
				@extend %transit;
			}
		}

		.accordion-icon {
			position: absolute;
			top: 50%;
			right: 35px;
			transform: translateY(-50%);
			font-weight: 500;

			&:before {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				font-size: 12px;
				content: '\f218';
				font-family: 'Ionicons';
			}
		}

		.active {
			.accordion-icon {
				&:before {
					content: '\f209';
				}
			}
		}

		.accordion-title-wrapper:hover,
		.active {
			.accordion-title {
				background: #f7f7f7;

				&:before {
					height: 100%;
				}
			}
		}

		.accordion-content {
			padding: 26px 35px 43px;
		}
	}

	&.style-2 {
		.accordion-section {
			+ .accordion-section {
				margin-top: 10px;
			}
		}

		.accordion-title {
			position: relative;
			font-size: 20px;
			line-height: 1.2;
			padding: 5px 0;
			display: inline-block;
			border-bottom: 3px solid transparent;
			opacity: .5;

			&:after {
				content: '';
				width: 0;
				height: 2px;
				bottom: -3px;
				position: absolute;
				left: auto;
				right: 0;
				z-index: -1;
				transition: width .6s cubic-bezier(.25, .8, .25, 1) 0s;
			}
		}

		.accordion-title-wrapper {
			&:hover {
				.accordion-title {
					&:after {
						width: 100%;
						left: 0;
						right: auto;
					}
				}
			}
		}

		.accordion-title-wrapper:hover,
		.active {
			.accordion-title {
				opacity: 1;

				&:after {
					width: 100%;
				}
			}
		}

		.accordion-content {
			padding: 30px 0 30px;
		}
	}

	&.style-3 {
		background: #ffffff;
		box-shadow: 0 20px 60px rgba(0, 0, 0, .06);
		overflow: hidden;

		.accordion-section {
			+ .accordion-section {
				border-top: 1px solid #ddd;
			}
		}

		.accordion-title {
			position: relative;
			font-size: 18px;
			line-height: 1.2;
			padding: 20px 35px;

			&:hover {
				color: #ffffff;
			}
		}

		.accordion-icon {
			position: absolute;
			top: 50%;
			right: 35px;
			transform: translateY(-50%);
			font-weight: 500;

			&:before {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				font-size: 12px;
				content: '\f218';
				font-family: 'Ionicons';
			}
		}

		.active {
			.accordion-icon {
				&:before {
					content: '\f209';
				}
			}
		}

		.accordion-title-wrapper:hover,
		.active {
			.accordion-title {
				color: #ffffff;
			}
		}

		.accordion-content {
			padding: 26px 35px 43px;
		}
	}
}
