.tm-team-member {
	position: relative;

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}

	.photo {
		margin-bottom: 30px;
	}

	.has-border-left {
		border-left: 3px solid red;
		padding-left: 18px;
		padding-top: 2px;
	}

	.name {
		font-size: 20px;
		margin-bottom: 3px;
	}

	.position {
		font-size: 15px;
		font-weight: 400;
	}

	.description {
		margin-top: 20px;
	}

	.social-footer {
		margin-top: 20px;
	}

	.social-networks {
		margin: 0 -10px;

		a {
			@extend %transit2;
			display: inline-block;
			padding: 5px 10px;
			font-size: 16px;
			line-height: 1;
			color: #b6b6b6;
		}
	}

	&.effect-grayscale {
		.photo {
			img {
				@extend %transit2;
				filter: grayscale(100%);
			}
		}

		&:hover {
			.photo {
				img {
					filter: none;
				}
			}
		}
	}

	&.style-1 {
		margin-bottom: 30px;

		.photo {
			img {
				width: 100%;
			}
		}

		.social-networks {
			margin: 0 -10px;

			a {
				@extend %transit2;
				font-size: 18px;
			}
		}
	}

	&.style-2 {
		margin-bottom: 30px;

		.photo {
			img {
				width: 100%;
			}
		}
	}

	&.style-3 {
		@extend %transit;
		padding-bottom: 107px;
		margin-bottom: 30px;
		overflow: hidden;
		background: #fff;

		&:hover {
			box-shadow: 0 10px 20px rgba(0, 0, 0, .09);

			.info {
				transform: translateY(0);
			}

			.social-footer {
				opacity: 1;
				visibility: visible;
			}
		}

		.photo {
			margin-bottom: 0;

			img {
				width: 100%;
			}
		}

		.info {
			@extend %transit;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 27px 0;
			background: #fff;
			transform: translateY(46px);
		}

		.name {
			font-size: 18px;
			margin-bottom: 3px;
		}

		.description {
			margin-top: 10px;
		}

		.social-footer {
			@extend %transit;
			visibility: hidden;
			opacity: 0;
			margin-top: 20px;
			padding: 0 20px;
		}

		.social-networks {
			margin: 0 -10px;

			a {
				@extend %transit2;
				display: inline-block;
				padding: 5px 10px;
				font-size: 18px;
				line-height: 1;
				color: #c0c0c0;
			}
		}
	}
}

@include media-breakpoint-up(sm) {
	.tm-team-member {
		&.style-2 {
			.inner {
				display: flex;
			}

			.photo {
				flex-shrink: 0;
			}

			.info {
				padding-left: 30px;
			}
		}
	}
}

