.tm-attribute-list {

	ul {
		padding: 0;
		margin: 0;
		display: table;
		width: 100%;
		border-collapse: collapse;
	}

	li {
		list-style-type: none;
		display: table-row;
	}

	.icon,
	.content {
		display: table-cell;
		vertical-align: middle;
		padding: 12px 20px;
		border: 1px solid #ddd;
	}

	&.style-01 {
		font-size: 15px;

		li {
			&:nth-child(even) {
				background-color: #f7f7f7;
			}
		}

		.icon {
			font-size: 20px;
			text-align: center;
		}
	}
}
