.tm-cta-box {
	padding-bottom: 100px;
	position: relative;

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}

	.image {
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
			@include transit;
		}
	}

	.info {
		width: 330px;
		max-width: 100%;
		background-color: #fff;
		padding: 40px;
		position: absolute;
		bottom: 30px;
		right: 0;
		box-shadow: 0 30px 50px rgba(0, 0, 0, 0.06);

		.heading {
			font-size: 26px;
			line-height: 34px;
			font-weight: 700;
			color: #222;
		}

		.link {
			margin-top: 30px;
			text-align: right;

			a {
				text-transform: uppercase;
				font-size: 13px;
				font-weight: 700;
				color: $color__primary;
				letter-spacing: 1px;
				line-height: 1;
				padding-bottom: 10px;
				border-bottom: 2px solid #eee;

				&:after {
					content: '\f30f';
					font-family: Ionicons;
					margin-left: 5px;
				}

				&:hover {
					color: #222;
				}
			}
		}
	}

	&:hover {
		.image {
			img {
				transform: scale(1.1);
			}
		}
	}
}
