.tm-gradation {
	margin: 0 -15px;
	display: flex;
	position: relative;

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}

	.count {
		font-size: 40px;
		font-weight: 700;
		color: #dddddd;
		margin-bottom: 29px;
		line-height: 1.22;
	}

	.count-wrap {
		position: relative;
		height: 28px;
		margin-bottom: 27px;
	}

	.dot {
		width: 28px;
		height: 28px;
		border-radius: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 18px;
			height: 18px;
			border-radius: 50%;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 10px;
			height: 10px;
			border-radius: 50%;
		}
	}

	.line {
		position: absolute;
		top: 14px;
		left: 0;
		background: #eeeeee;
		width: 150%;
		height: 1px;
		margin-top: -1px;
	}

	.item {
		width: calc(100% / 3);
		padding: 0 15px;
		position: relative;
		opacity: 0;

		&.animate {
			opacity: 1;
			-webkit-transform: translateX(100px);
			transform: translateX(100px);
			-webkit-animation: moveHorizontal 0.65s ease forwards;
			animation: moveHorizontal 0.65s ease forwards;
		}

		&:first-child {
			.line {
				&:before {
					display: none;
				}
			}
		}

		&:last-child {
			.line {
				&:after {
					display: none;
				}
			}
		}
	}

	.title {
		font-size: 20px;
		margin-bottom: 15px;
	}

	&--basic {
		overflow: hidden;

		.dot {
			width: 28px;
			height: 28px;
			border-radius: 100%;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
		}
	}

	&--no_number {
		padding-top: 28px;

		&:before {
			content: '';
			width: calc(100% - 30px);
			height: 1px;
			position: absolute;
			top: 14px;
			left: 15px;
			background-color: #eee;
		}

		.dot {
			top: -14px;
		}

		.count-wrap {
			margin-bottom: 20px;
		}

		.content-wrap {
			position: relative;
			box-shadow: 0 0 20px 0 rgba(0, 0, 0, .09);
			padding: 60px 25px;
			text-align: center;

			&:after {
				content: "";
				position: absolute;
				width: 0;
				height: 0;
				top: 0;
				left: calc(50% + 21px);
				box-sizing: border-box;
				border: 15px solid;
				border-color: transparent transparent #fff #fff;
				transform-origin: 0 0;
				transform: rotate(-225deg);
				-webkit-filter: drop-shadow(-3px 3px 3px rgba(0, 0, 0, .05));
				filter: drop-shadow(-3px 3px 3px rgba(0, 0, 0, .05));
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.tm-gradation {
		display: block;

		.item {
			width: 100%;

			+ .item {
				margin-top: 50px;
			}
		}

		.count-wrap {
			margin-bottom: 25px;
		}
	}
}
