.vc_tta.vc_general {
	&.vc_tta-style-tractor-tour-01 {
		.vc_tta-tabs-container {
			overflow: visible !important;
			margin: 0 !important;
			width: calc(100% / 4);
		}

		.vc_tta-panels-container {

		}

		.vc_tta-tabs-list {
			overflow: visible !important;
			background-color: #f7f7f7;
			padding: 36px 0 !important;

			.vc_tta-tab {
				color: #999;
				font-size: 16px;
				font-weight: 500;
				margin: 0;
				position: relative;

				a {
					font-weight: inherit;
				}

				&:after {
					content: '';
					width: 0px;
					height: 0px;
					border-top: 6px solid transparent;
					border-bottom: 6px solid transparent;
					border-left: 6px solid $color__primary;
					position: absolute;
					top: 50%;
					left: calc(100% - 6px);
					transform: translate(0, -50%);
					opacity: 0;
					visibility: hidden;
				}

				> a {
					padding: 14px 30px;
				}

				&:hover,
				&.vc_active {
					background-color: $color__primary;
					color: #222;

					&:after {
						@include transit;
						left: 100%;
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}

	&.vc_tta-style-tractor-tour-02 {
		.vc_tta-tabs-container {
			overflow: visible !important;
			margin: 0 !important;
			width: calc(100% / 3);
		}

		.vc_tta-panel-title {
			border-bottom: 1px solid #ddd;
		}

		.vc_tta-panel-body {
			padding: 50px 20px !important;
			@include media-breakpoint-up(md) {
				padding: 0 0 0 61px !important;
			}
		}

		.vc_tta-tabs-list {
			overflow: visible !important;
			background-color: #f7f7f7;

			.vc_tta-tab {
				color: #222;
				font-size: 16px;
				font-weight: 500;
				margin: 0;
				position: relative;

				a {
					font-weight: inherit;
				}

				+ .vc_tta-tab {
					border-top: 1px solid #ddd;
				}

				&:after {
					content: '';
					width: 0px;
					height: 0px;
					border-top: 6px solid transparent;
					border-bottom: 6px solid transparent;
					border-left: 6px solid $color__primary;
					position: absolute;
					top: 50%;
					left: calc(100% - 6px);
					transform: translate(0, -50%);
					opacity: 0;
					visibility: hidden;
				}

				> a {
					padding: 14px 30px;
				}

				&:hover,
				&.vc_active {
					background-color: $color__primary;
					color: #fff;

					&:after {
						@include transit;
						left: 100%;
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}

#mega-industries {
	.vc_tta.vc_general.vc_tta-style-tractor-tour-01 .vc_tta-tabs-list {
		background: #f7f7f7 url("assets/images/decor.jpg") no-repeat top left;
		background-size: cover;
	}
}
