.vc_tta-tabs.vc_tta-tabs {
	&.vc_tta-color-primary {
		&.vc_tta-style-classic {
			.vc_tta-tab {
				> a {
					color: #ffffff;
				}

				&.vc_active {
					> a {
						border-color: #f0f0f0;
						background-color: #f8f8f8;
						color: #666666;
					}
				}
			}

			.vc_tta-panel {
				.vc_tta-panel-title {
					> a {
						color: #ffffff;
					}
				}

				.vc_tta-panel-body {
					background-color: #f8f8f8;
				}

				.vc_tta-panel-body,
				.vc_tta-panel-body:before,
				.vc_tta-panel-body:after {
					border-color: #f0f0f0;
				}

				&.vc_active {
					.vc_tta-panel-title {
						> a {
							color: #666666;
						}
					}

					.vc_tta-panel-heading {
						border-color: #f0f0f0;
						background-color: #f8f8f8;
					}
				}
			}
		}

		&.vc_tta-style-modern {
			.vc_tta-tab {
				> a {
					color: #ffffff;
				}

				&.vc_active {
					> a {
						border-color: #f0f0f0;
						background-color: #f8f8f8;
					}
				}
			}

			.vc_tta-panel {
				.vc_tta-panel-title {
					> a {
						color: #ffffff;
					}
				}

				.vc_tta-panel-body {
					background-color: #f8f8f8;
					border-color: #f0f0f0;
				}

				&.vc_active {
					.vc_tta-panel-title {
						> a {
							color: #666666;
						}
					}

					.vc_tta-panel-heading {
						border-color: #f0f0f0;
						background-color: #f8f8f8;
					}
				}
			}
		}

		&.vc_tta-style-flat {
			&:not(.vc_tta-o-no-fill) {
				.vc_tta-panel-body {
					color: #ffffff;
				}
			}

			.vc_tta-tab {
				> a {
					color: #ffffff;
				}
			}

			.vc_tta-panel {
				.vc_tta-panel-title {
					> a {
						color: #ffffff;
					}
				}
			}
		}

		&.vc_tta-style-outline {
			.vc_tta-tab {
				&:not(.vc_active) {
					> a {
						&:hover,
						&:focus {
							color: #ffffff;
						}
					}
				}
			}

			.vc_tta-panel {
				&:not(.vc_active) {
					.vc_tta-panel-heading {
						&:hover,
						&:focus {
							a {
								color: #ffffff;
							}
						}
					}
				}
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.vc_tta-tabs.vc_tta-tabs {
		&.vc_tta-color-primary {
			&.vc_tta-style-classic {
				.vc_tta-panels {
					background-color: #f8f8f8;
				}

				.vc_tta-panels,
				.vc_tt a-panels:after,
				.vc_tta-panels:before {
					border-color: #f0f0f0;
				}
			}
		}
	}
}

.wpb-js-composer .vc_tta.vc_general {
	&.vc_tta-style-tractor-01 {

		&.vc_tta-tabs-position-top {
			.vc_tta-tabs-container,
			.vc_tta-tabs-list {
				overflow: visible;
			}
		}

		&.vc_tta-shape-rounded {
			.vc_tta-tabs-list {
				overflow: hidden;
			}

			.vc_tta-tab {
				> a {
					border-radius: 0;
				}
			}
		}

		.vc_tta-tabs-container {
			margin: 0;
		}

		.vc_tta-tabs-list {
			display: table;
			width: 100%;
		}

		.vc_tta-tab {
			display: table-cell;
			text-align: center;
			width: 1%;

			+ .vc_tta-tab {
				padding-left: 15px;
			}

			> a {
				font-size: 18px;
				font-weight: 700;
				background-color: #ededed;
				color: #9c9c9c;
			}

			&:hover,
			&.vc_active {
				> a {
					color: #ffffff;
				}
			}
		}

		.vc_tta-panel-body {
			border: 0;
			border-radius: 0;
			background: #ffffff;
			box-shadow: 0 20px 40px rgba(0, 0, 0, .08);
			padding: 42px 30px 67px;
		}

		.vc_tta-panel-title {
			color: inherit;
		}

		.vc_tta-panel-heading {
			background: #eeeeee;
			border-radius: 0;
		}

		.vc_active {
			.vc_tta-panel-heading {
				color: #ffffff;
			}
		}
	}

	&.vc_tta-style-tractor-02 {
		&.vc_tta-tabs-position-top {
			.vc_tta-tabs-container,
			.vc_tta-tabs-list {
				overflow: visible;
			}
		}

		.vc_tta-tabs-list {
			margin: 0;
			border-bottom: 1px solid rgba(255, 255, 255, .14);
		}

		.vc_tta-tab {
			margin: 0;

			> a {
				padding: 15px 25px 15px 0;
				border: 0;
				border-bottom: 2px solid transparent;
				font-size: 14px;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 2px;
				color: rgba(255, 255, 255, .5);
				margin: 0 0 -2px;
			}

			+ .vc_tta-tab {
				margin-left: 35px;
			}

			&:hover {
				a {
					color: #ffffff;
				}
			}

			&.vc_active {
				> a {
					color: #ffffff;
				}
			}
		}

		.vc_tta-panel-body {
			padding: 41px 0 0;
			border: 0;
			color: rgba(255, 255, 255, .5);
		}

		.vc_tta-panel-heading {
			border: 0;

			&:hover {
				.vc_tta-panel-title {
					color: #ffffff;
				}
			}
		}

		.vc_tta-panel-title {
			color: rgba(255, 255, 255, .5);
			border-bottom: 1px solid rgba(255, 255, 255, .14);

			> a {
				padding: 14px 0;
			}
		}

		.vc_tta-panel {
			+ .vc_tta-panel {
				margin-top: 20px;
			}
		}
	}

	&.vc_tta-style-tractor-03 {

		&.vc_tta-tabs-position-top {
			.vc_tta-tabs-container,
			.vc_tta-tabs-list {
				overflow: visible;
			}
		}

		&.vc_tta-shape-rounded {
			.vc_tta-tabs-list {
				overflow: hidden;
			}

			.vc_tta-tab {
				> a {
					border-radius: 0;
				}
			}
		}

		.vc_tta-tabs-container {
			margin: 0 0 -1px !important;
		}

		.vc_tta-tab {

			+ .vc_tta-tab {
				padding-left: 10px;
			}

			> a {
				font-size: 18px;
				font-weight: 700;
				background-color: #f7f7f7;
				color: #888;
				border: 1px solid transparent;
				border-bottom-color: #ddd;

				&:before {
					content: '';
					display: inline-block;
					width: 3px !important;
					height: 0 !important;
					position: absolute !important;
					top: -1px !important;
					left: -1px !important;
					@include transit;
				}
			}

			&:hover,
			&.vc_active {
				> a {
					color: #222;
					border: 1px solid #ddd;
					border-bottom-color: #fff;
					background-color: #fff;

					&:after {
						display: none !important;
					}

					&:before {
						height: calc(100% + 2px) !important;
					}
				}
			}
		}

		.vc_tta-panel-body {
			border-radius: 0;
			background: #ffffff;
			border: 1px solid #ddd;
			padding: 42px 30px 67px;
		}

		.vc_tta-panel-title {
			color: inherit;
		}

		.vc_tta-panel-heading {
			background: #f7f7f7;
			border-radius: 0;
			border: 1px solid #ddd;
		}

		.vc_active {
			.vc_tta-panel-heading {
				color: #222;
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.wpb-js-composer .vc_tta.vc_general {
		&.vc_tta-style-tractor-01 {
			.vc_tta-panel-body {
				padding: 62px 40px 87px;
			}
		}
	}
}
