@mixin transit {
	transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

@mixin transit2 {
	transition: all .5s cubic-bezier(.645, .045, .355, 1);
}

%transit {
	@include transit();
}

%transit2 {
	@include transit2();
}
