.page-main-content {
	.wp-block-quote:not(.is-large):not(.is-style-large) {
		border-left: 2px solid $color__primary;
		padding-left: 75px;
	}
}

.page-content .page-main-content *.alignfull {
	position: relative;
	left: -15px;
	width: 100vw;
	max-width: 100vw;
	clear: both;

	@media screen and (min-width: 555px) {
		left: calc((525px - 100vw) / 2);
	}

	@media screen and (min-width: 768px) {
		left: calc((690px - 100vw) / 2);
	}

	@media screen and (min-width: 992px) {
		left: calc((910px - 100vw) / 2);
	}

	@media screen and (min-width: 1200px) {
		left: calc((1170px - 100vw) / 2);
	}
}

.page-content .page-main-content *.alignwide {
	position: relative;
	width: 100%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	clear: both;

	@media only screen and (min-width: 1280px) {
		width: calc(100% + 400px);
		max-width: calc(100% + 400px);
		left: -200px;
	}

	@media only screen and (min-width: 1200px) {
		width: calc(100% + 200px);
		max-width: calc(100% + 200px);
		left: -100px;
	}

	@media only screen and (min-width: 1024px) {
		width: calc(100% + 100px);
		max-width: calc(100% + 100px);
		left: -50px;
	}
}

.page-content .page-main-content *.alignleft {
	/*rtl:ignore*/
	float: left;
	max-width: calc(5 * (100vw / 12));
	margin-top: 0;
	margin-left: 0;
	/*rtl:ignore*/
	margin-right: 1rem;

	@media only screen and (min-width: 768px) {
		max-width: calc(4 * (100vw / 12));
		/*rtl:ignore*/
		margin-right: calc(2 * 1rem);
	}
}

.page-content .page-main-content *.alignright {
	/*rtl:ignore*/
	float: right;
	max-width: calc(5 * (100vw / 12));
	margin-top: 0;
	margin-right: 0;
	/*rtl:ignore*/
	margin-left: 1rem;

	@media only screen and (min-width: 768px) {
		max-width: calc(4 * (100vw / 12));
		margin-right: 0;
		/*rtl:ignore*/
		margin-left: calc(2 * 1rem);
	}
}

.page-content .page-main-content *.aligncenter {
	margin-left: auto;
	margin-right: auto;

	@media only screen and (min-width: 1168px) {
		max-width: calc(6 * (100vw / 12) - 28px);
	}

	@media only screen and (min-width: 768px) {
		max-width: calc(8 * (100vw / 12) - 28px);
	}
}

.wp-block-separator {
	background-color: transparent;
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	padding: 26px 30px 26px 70px;
}

.wp-block-table {
	td, th {
		border: 1px solid rgba(0, 0, 0, .08);
	}
}

.wp-block-latest-posts {
	padding: 0;
	list-style: none;
}

.wp-block-pullquote {
	border: 4px solid $color__primary;
	padding: 46px 30px 46px 75px;
}
