h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin-bottom: 15px;
}

p {
	margin-bottom: 1.5em;
	margin-top: 0;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

address {
	margin: 0 0 1.5em;
}

pre {
	font-size: 15px;
	overflow: auto;
	margin-bottom: 1.6em;
	padding: 1.6em;
	max-width: 100%;
	background: $color__background-pre;
	font-family: $font__pre;
	line-height: $font__line-height-pre;
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word;
}

code,
kbd,
tt,
var {
	font-size: 15px;
	font-family: $font__code;
}

abbr,
acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark,
ins {
	background: none;
	text-decoration: none;
}

big {
	font-size: 125%;
}

blockquote,
q {
	quotes: "" "";

	&:before,
	&:after {
		content: '';
	}
}

blockquote {
	position: relative;
	margin: 0;
	padding: 26px 30px 26px 75px;
	margin-bottom: 1.5em;
	border: 2px solid;
	font-size: 18px;
	font-style: italic;
	color: #222;

	&:before {
		position: absolute;
		top: 50%;
		left: 25px;
		transform: translateY(-50%);
		content: '\f347';
		font-family: Ionicons;
		font-size: 24px;
		font-style: normal;
	}

	p {
		margin-bottom: 0;
	}
}
