@keyframes load-spin {
	100% {
		transform: rotate(360deg);
	}
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce a.button.alt,
.woocommerce input.button.alt,
.button {
	padding: 0 20px !important;
	height: 50px;
	border-width: 2px;
	border-style: solid;
	border-radius: 0;
	color: #222;
	font-weight: 700 !important;
	font-size: 13px !important;
	line-height: 46px !important;
}

.woocommerce {
	.tm-products, .products {
		.product {
			margin-bottom: 40px;

			.product-wrapper {
				@extend %transit2;
				position: relative;

				&:hover {
					.product-action {
						opacity: 1;
						visibility: visible;
						transform: translateX(0);
					}

					.woocommerce_loop_add_to_cart_wrap {
						.button {
							transform: translateY(0);
						}
					}
				}
			}

			.product-thumbnail {
				position: relative;
				overflow: hidden;
				margin-bottom: 30px;
			}

			.thumbnail {
				position: relative;

				img {
					width: 100%;
					border-radius: 0;
				}
			}

			.product-actions {
				position: absolute;
				top: 50%;
				right: 30px;
				z-index: 99;
				margin-top: -30px;
				transform: translateY(-50%);
				display: flex;
				flex-direction: column;
			}

			.product-action {
				transition: all .5s ease-in-out;
				opacity: 0;
				visibility: hidden;
				transform: translateX(20px);
				display: block;
				margin: 5px 0 !important;

				+ .product-action {
					transition-delay: .1s;

					+ .product-action {
						transition-delay: .2s;

						+ .product-action {
							transition-delay: .3s;
						}
					}
				}
			}

			.woosw-btn, .woosq-btn, .woosc-btn {
				position: relative;
				display: block;
				width: 48px;
				height: 48px;
				line-height: 48px;
				border-radius: 0;
				color: #454545;
				font-size: 0 !important;
				padding: 0 !important;
				background: #ffffff;
				box-shadow: none;
				border: 0;
				text-align: center;

				&:before {
					width: 48px;
					height: 48px;
					line-height: 48px;
					text-align: center;
					margin: 0;
					padding: 0;
					font-size: 18px;
					font-weight: 500;
					display: inline-block;
					font-family: Ionicons;
					speak: none;
					font-style: normal;
					font-variant: normal;
					text-transform: none;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}

				&:hover {
					color: #ffffff;
					background-color: $color__primary;
				}
			}

			.woocommerce_loop_add_to_cart_wrap {
				position: absolute;
				left: 0;
				bottom: 0;
				display: block;
				width: 100%;

				.button {
					display: block;
					text-transform: uppercase;
					background-color: #333;
					width: 100%;
					border: none;
					color: #fff;
					line-height: 50px !important;
					text-align: center;
					transform: translateY(100%);

					&:before {
						content: '\f3f8';
						font-family: Ionicons;
						font-size: 20px;
						margin-right: 10px;
						display: inline-block;
						line-height: 1;
						width: 20px;
						vertical-align: middle;
						height: 20px;
					}

					&:after {
						display: none !important;
					}

					&:hover {
						color: #fff;
						background-color: $color__primary;
					}

					&.loading {
						&:before {
							content: '\f459';
							animation: load-spin 1.5s linear infinite !important;
						}
					}

					&.added {
						&:before {
							content: '\f3fe';
						}
					}
				}

				.added_to_cart {
					display: none !important;
				}
			}

			.woosc-btn {
				&:before {
					content: '\f4a8';
				}
			}

			.woosq-btn {
				&:before {
					content: '\f4a4';
				}
			}

			.woosw-btn {
				&:before {
					content: '\f388';
				}
			}

			.woosw-adding,
			.woosc-btn-adding {
				&:before {
					content: '\f459' !important;
					animation: load-spin 1.5s linear infinite !important;
				}
			}

			.product-info {
				text-align: center;
			}

			.woocommerce-loop-product__title {
				font-size: 20px;
				line-height: 1.4;
				margin-bottom: 10px;
			}

			.star-rating {
				margin: 0 auto 13px;
			}
		}

		&.tm-swiper {
			.product {
				width: 100%;
				max-width: 100%;
				flex: 0 0 100%;
				padding-left: 0;
				padding-right: 0;
				margin-bottom: 0;
			}
		}
	}

	form {
		.form-row {
			margin: 0 0 10px;
			padding: 0;

			textarea {
				height: 130px;
			}

			&.woocommerce-invalid {
				.select2-container,
				input.input-text,
				select {
					border-color: #d9534f;
				}
			}

			&.woocommerce-validated {
				.select2-container,
				input.input-text,
				select {
					border-color: #5cb85c;
				}
			}
		}
	}

	.amount,
	.price {
		font-weight: 600;
		font-size: 15px;
	}

	ins {
		background: none;
		color: #999999;
	}

	del {
		position: relative;
		text-decoration: none;

		.amount {
			color: #999999 !important;
		}

		&:before {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 1px;
			background: #999999;
			content: '';
		}
	}

	.star-rating {
		color: #ffb805;
		font-size: 16px;
		float: none;

		&:before {
			color: #dddddd;
			content: 'SSSSS';
		}
	}

	div.quantity {
		position: relative;
		width: 100px;

		.button {
			position: absolute;
			right: 0;
			padding: 0 !important;
			width: 25px;
			height: 25px;
			line-height: 25px !important;
			background-color: #ededed;
			border: 0;
			text-align: center;
			font-size: 16px !important;

			&:hover {
				color: #fff;
			}
		}

		.qty {
			padding: 3px 30px 3px 10px;
			width: 100%;
			height: 50px;
			border: 1px solid #ededed;
		}

		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			margin: 0;
			-webkit-appearance: none;
		}

		.increase {
			top: 0;
		}

		.decrease {
			bottom: 0;
			border-top: 1px solid #fff;
		}
	}

	nav.woocommerce-pagination {
		text-align: center;

		ul {
			margin: 70px -15px 0;
			border: 0;

			li {
				display: inline-block;
				border: 0;
				list-style-type: none;

				span,
				a {
					display: block;
					font-weight: 700;
					font-size: 15px;
					padding: 15px 12px;
					color: #b5b5b5;
					border-radius: 0;
					background: none !important;
					text-transform: uppercase;
					letter-spacing: 0.5px;

					i {
						font-size: 10px;
						font-weight: 500;
					}
				}

				.dots {
					width: 20px;
					border: 0;
					background: none;
					color: #dddddd;
					font-weight: 500;
					font-size: 14px;
				}

				.next,
				.prev {
					font-size: 13px;
					color: #b5b5b5;
				}

				.prev {
					i {
						margin-right: 6px;
					}
				}

				.next {
					i {
						margin-left: 6px;
					}
				}

				span.current {
					color: #222222;
				}
			}
		}
	}

	.archive-shop-actions {
		margin-bottom: 30px;

		.shop-filter-left,
		.shop-filter-right {
			margin-bottom: 10px;
		}
	}

	.woocommerce-result-count {
		margin: 0;
	}

	.shop-filter-right {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.woocommerce-ordering {
		display: inline-block;
		margin: 0;
		float: none;

		select {
			height: 50px;
			background-color: transparent;
			padding-left: 0;
			padding-right: 0;
			background-position: right;
		}
	}

	.cats {
		margin-bottom: 50px;

		.product-category {
			&:hover {
				.cat-title,
				.cat-count {
					color: #ffffff;
				}
			}
		}

		.cat-image {
			img {
				width: 100%;
			}
		}

		.cat-text {
			@extend %transit;
			position: absolute;
			right: 0;
			bottom: 30px;
			left: 0;
			z-index: 1;
			padding: 15px;
			background-color: rgba(255, 255, 255, .65);
			text-transform: uppercase;
		}

		.cat-title {
			@extend %transit;
		}

		.cat-count {
			@extend %transit;
			margin: 0;
			color: initial;
			font-size: 12px;
		}
	}
}

.woocommerce #respond input#submit.loading,
.woocommerce a.button.loading,
.woocommerce button.button.loading,
.woocommerce input.button.loading {
	opacity: 1;
}
