.woocommerce-MyAccount-navigation {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		border-radius: 0;
		border: 1px solid #eeeeee;
	}

	li {
		margin: -1px -1px 0;

		&:first-child {
			a {
				border-radius: 0;
			}
		}

		&:last-child {
			a {
				border-radius: 0;
			}
		}

		a {
			display: block;
			padding: 17px 35px;
			font-size: 16px;
			font-weight: 600;
			border-top: 1px solid #eeeeee;
			color: inherit;
		}
	}

	.is-active a,
	a:hover {
		background: #006efd;
		color: #ffffff;
	}
}

.woocommerce-account {
	.addresses .title .edit,
	ul.digital-downloads li .count {
		margin-top: 3px;
	}

	.woocommerce-MyAccount-navigation,
	.woocommerce-MyAccount-content {
		width: 100%;
		float: none;
	}

	form .form-row {
		margin-bottom: 20px;
	}
}

.woocommerce-edit-address {
	.woocommerce-MyAccount-content {
		h3 {
			margin-bottom: 10px;
		}

		> form > h3 {
			font-size: 24px;
			margin-bottom: 40px;
		}

		address {
			font-style: normal;
		}
	}
}
