.top-bar-06 {
	.container-fluid {
		padding-left: 60px;
		padding-right: 60px;
	}

	.top-bar-wrap {
		height: 100%;
	}

	.top-bar-info .info-item {
		margin-right: 30px;
	}

	.switcher-language-wrapper {
		height: 40px;
	}
}

@include media-breakpoint-down(xl) {
	.top-bar-06 {
		.container-fluid {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}

@include media-breakpoint-down(lg) {
	.top-bar-06 {
		display: none;
	}
}
