.top-bar-08 {
	.top-bar-wrap {
		height: 100%;
	}

	.top-bar-left {
		flex-grow: 1;
	}

	.top-bar-right {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		> div {
			padding-left: 30px;
		}

		.top-bar-social-network {
			margin: 0 -13px;
		}
	}

	.top-bar-social-network {
		@extend %clearfix;

		.social-link {
			padding: 2px 13px;
			float: left;
			text-align: center;
			font-size: 16px;
		}
	}

	.top-bar-button {
		.tm-button {
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			padding: 0 30px;
			height: 40px;
			line-height: 36px;
			border-radius: 0;
		}
	}
}

@include media-breakpoint-down(md) {
	.top-bar-08 {
		display: none;
	}
}
