.rtl {
	.ion-chevron-left:before {
		content: "\f125";
	}

	.ion-chevron-right:before {
		content: "\f124";
	}

	.ion-arrow-left-c:before {
		content: "\f10b";
	}

	.ion-arrow-right-c:before {
		content: "\f108";
	}

	.tm-swiper .swiper-button-next {
		right: auto;
	}

	.tm-swiper .swiper-button-prev i:before {
		content: '\f3d1';
	}

	.tm-swiper .swiper-button-next i:before {
		content: '\f3cf';
	}

	.tm-case-study.style-carousel-2 .post-info .post-read-more:before {
		content: '\f108';
		font-family: Ionicons;
		margin-right: 5px;
		font-weight: 400;
		color: #ffc246;
	}

	.tm-case-study.style-carousel-2 .post-info .post-read-more:after {
		display: none;
	}

	.ion-android-arrow-forward:before,
	.tm-service.style-carousel_05 .post-title a:after {
		content: "\f2ca";
	}

	.ion-android-arrow-back:before {
		content: "\f30f";
	}

	.tm-cta-box .info .link a:before {
		content: '\f2ca';
		font-family: Ionicons;
		margin-right: 5px;
	}

	.tm-cta-box .info .link a:after {
		display: none;
	}
}
