button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	@extend %transit;
	padding: 0 41px;
	height: 50px;
	line-height: 46px;
	outline: none;
	border-width: 2px;
	border-style: solid;
	border-radius: 0px;
	background-color: transparent;
	color: #ffffff;
	font-weight: 700;
	font-size: 13px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}
