.simple-footer {
	background: #222222;
	color: rgba(255, 255, 255, .5);
	padding: 20px 0;

	.social-networks {
		text-align: right;
		line-height: 0;

		.inner {
			@extend %clearfix;
			display: inline-block;
			border: 1px solid rgba(151, 151, 151, .11);
			border-radius: 5px;
		}

		a {
			float: left;
			display: block;
			color: #d8d8d8;
			height: 48px;
			width: 51px;
			font-size: 16px;
			position: relative;
			border-right: 1px solid rgba(151, 151, 151, .11);

			&:last-child {
				border-right: 0;
				width: 50px;
			}
		}

		.social-icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.page-footer {
	#menu-copyright {
		li {
			a {
				font-size: 14px;
			}
		}
	}

	.insight-core-bmw {
		li {
			a {
				font-size: 15px;
				font-weight: 400;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.simple-footer {
		.footer-text {
			text-align: center;
		}

		.social-networks {
			margin-top: 20px;
			text-align: center;
		}
	}
}
