.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	border: 0;
}

embed,
iframe,
object {
	max-width: 100%;
}

.wp-caption {
	margin: 0 0 30px;
	max-width: 100%;

	&.aligncenter {
		margin: 0 auto 30px;
	}

	&.alignleft {
		margin: 0 30px 30px 0;
	}

	&.alignright {
		margin: 0 0 30px 30px;
	}
}

.wp-caption-text {
	text-align: center;
	background: #f8f8f8;
	padding: 5px 0;
}
